<div id="paper_form" class="area lightgrey" ng-controller="Speaker_GlobalCtrl">
    <div class="grid">

        <div class="row">
            <div class="col20">
                <h4>Submit Proposal</h4>

                <div ng-controller="Speaker_ProposalsCtrl" ng-cloak>
                    <h3>My Proposals</h3>
                    <a href="#/speaker/proposal/new" class="btn btn-primary">New</a>
                    <hr>
                    <h4 ng-show="!model.myProposals">Loading</h4>
                    <h4 ng-show="model.myProposals && model.myProposals.length == 0">No proposals</h4>
                    <table class="table" ng-show="model.myProposals.length > 0">
                        <thead>
                            <tr>
                                <th class="col1">Title</th>
                                <th class="col2">State</th>
                                <th class="col3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="proposal in model.myProposals">
                                <td class="col1">{{proposal.title}}</td>
                                <td class="col2">{{proposal.state}}</td>
                                <td class="col3">
                                    <a ng-click="showDetails(proposal)" class="btn">Edit</a>
                                    <a ng-click="deleteProposal(proposal)" class="btn">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>