<div id="topinfo" class="area blue">
    <div class="grid">
        <div class="row">
            <div class="col9">
                <h1>Call for Papers</h1>
                <h3>make a difference @ Devoxx</h3>
            </div>
            <div class="col11">
                <img src="../../images/topinfo_visual_call.png" class="visual" alt=""/>
            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <h4 ng-show="isSubmitted"
            devoxx-set-focus-on="isSubmitted"
            devoxx-set-focus-field="sendingProposalMessage">
            <!-- an anchor is required for setting focus. Focus is used to scroll to the message -->
            <a href="" id="sendingProposalMessage">Sending your proposal...</a>
        </h4>

        <form name="submitProposalForm" onsubmit="return false" ng-cloak ng-hide="isSubmitted">
            <div class="row">
                <div class="col16">
                    <h4>Proposal</h4>
                    <input type="text" ng-model="model.talk.id" style="display: none">
                    <ul>
                        <li>
                            <label for="talkEvent">Event</label>
                            <select name="event"
                                    id="talkEvent" ng-model="model.talk.event"
                                    ng-options="e.name for e in model.events"
                                    required
                                    ng-hide="model.events.length == 1"
                                    devoxx-uniform>
                                <option value="">Choose event</option>
                            </select>
                            <input type="text"
                                   ng-disabled="true"
                                   ng-model="model.talk.event.name"
                                   ng-show="model.events.length == 1"
                                   devoxx-uniform>
                            <div ng-show="model.talk.event.eventFrom == model.talk.event.eventTo">{{model.talk.event.eventFrom|date:shortDate}}</div>
                            <div ng-hide="model.talk.event.eventFrom == model.talk.event.eventTo">{{model.talk.event.eventFrom|date:shortDate}} until {{model.talk.event.eventTo|date:shortDate}}</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col16" ng-show="model.talk.event"
                     devoxx-set-focus-on="model.talk.event"
                     devoxx-set-focus-field="talkTitle">
                    <ul>

                        <li>
                            <label for="talkType">Type</label>
                            <select name="type"
                                    id="talkType" ng-model="model.talk.type"
                                    required
                                    ng-disabled="!model.talk.event"
                                    ng-options="t.name for t in model.talk.event.types"
                                    devoxx-uniform></select>
                        </li>

                        <li>
                            <label for="talkTrack">Track</label>
                            <select id="talkTrack"
                                    name="track"
                                    ng-model="model.talk.track"
                                    required
                                    ng-disabled="!model.talk.event"
                                    ng-options="t.name for t in model.talk.event.tracks"
                                    devoxx-uniform></select>
                        </li>
                        <li>
                            <label for="talkAudienceExperience">Audience experience</label>
                            <select name="audienceExperience"
                                    id="talkAudienceExperience"
                                    ng-model="model.talk.audienceExperience"
                                    ng-options="o.value as o.text for o in model.experienceOptions"
                                    required
                                    devoxx-uniform></select>
                        </li>
                        <li>
                            <label for="talkTitle">Title</label>
                            <input id="talkTitle" type="text" ng-model="model.talk.title" required devoxx-uniform>
                            <span devoxx-errors expression="submitProposalForm.talkTitle"></span>
                        </li>


                        <li>
                            <label for="talkSummary">Summary for the schedule<br>(1000 char)<br></label>
                            <textarea id="talkSummary" rows="10" ng-model="model.talk.summary" devoxx-uniform required></textarea>
                        </li>

                        <li>
                            <label for="talkExtraInfo">Private msg for the program team<br> (optional)</label>
                            <textarea id="talkExtraInfo" rows="10" ng-model="model.talk.extraInfo" devoxx-uniform></textarea>
                        </li>

                        <li>
                            <label for="talkAddTag">Tags<br> (min 3, max 8)</label>
                            <input id="talkAddTag"
                                   name="addTag"
                                   type="text"
                                   ng-model="model.newTag"
                                   placeholder="Add tag and press return"
                                   typeahead="t.name for t in getTags($viewValue)"
                                   devoxx-on-return-key="addTag()"
                                   devoxx-uniform>
                        </li>
                        <li>
                            <ul>
                                <li ng-repeat="tag in model.talk.tags" style="display: inline-block; margin: 0 5px 12px 5px; padding: 5px; border-radius: 5px; border: 1px solid #ccc;font-size: 14px;">
                                    {{tag.name}}
                                    <a style="cursor: pointer; font-size: 20px; padding: 5px;"
                                       ng-click="model.talk.tags.splice($index, 1)">&times;</a></li>
                            </ul>
                        </li>

                        <li>
                            <label for="talkAddSpeakerSearchName">Speakers</label>
                            <span ng-form="AddSpeakerForm">
                                <input id="talkAddSpeakerSearchName"
                                       type="text"
                                       ng-model="model.searchSpeakerName"
                                       placeholder="Add speaker by full name and press return"
                                       devoxx-on-return-key="addSpeaker()"
                                       devoxx-uniform>
                            </span>
                            
                            <div ng-repeat="speaker in model.talk.speakers" style="float: left; margin:10px;" >
                                <div class="icon" style="cursor: pointer; background: url({{thumbnailUrl(speaker)}});" ></div>
                                {{speaker.firstname}} {{speaker.lastname}} <a ng-click="model.talk.speakers.splice($index, 1)"
                                style="cursor: pointer">&times;</a><br>
                                <span ng-show="speaker.unknown"><span class="alert-info">invited</span><br></span>
                                <span ng-show="speaker.id == model.currentUser.id"><span class="alert-info">you</span><br></span>
                            </div>
                            
                        </li>



                        <li style="clear: both; padding-top: 30px;">
                            <label></label>
                            <ul class="checkradios clearfix">
                                <li>
                                    <label style="width: 535px">
                                        <input type="checkbox"
                                               devoxx-uniform
                                               ng-model="model.talk.sharedProposal">
                                        I allow Devoxx to share my proposal with related User Groups
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <label></label>
                            <ul class="checkradios clearfix">
                                <li>
                                    <label style="width: 535px">
                                        <input type="checkbox"
                                               ng-model="model.termsAndConditionsAgreed"
                                               devoxx-uniform
                                               required>
                                        I agree to the <a ng-click="model.termsAndConditionsOpen = true">terms and conditions</a>
                                    </label>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="row" ng-show="model.talk.event">
                <div class="col6 push9">
                    <ul>
                        <li class="btn" ng-hide="model.editable" >
                            <a class="btn" ng-click="cancel()">Back</a>
                        </li> 
                        <li class="btn" ng-show="model.editable">
                            <input type="submit" ng-disabled="!model.termsAndConditionsAgreed" 
                            ng-click="submit(model.talk, submitProposalForm)" name="" value="Submit">
                        </li>
                    </ul>

                </div>
            </div>
        </form>
    </div>

    <div modal="model.addSpeakerDialogOpen"
         devoxx-set-focus-on="model.addSpeakerDialogOpen"
         devoxx-set-focus-field="speakerDetailsEmail"
         close="closeNewSpeaker()"
         options="{dialogClass: 'modal speaker'}">
        <div class="modal-header">
            <h1>Add new speaker</h1>
        </div>
        <div class="modal-body">
            <form name="addSpeakerForm" ng-submit="addNewSpeaker(model.speakerDetails)">
                <ng-include src="'views/speaker/speaker_details.html'"></ng-include>
                
                <div class="col12">
                    <ul>
                        <li class="btn">
                            <input type="submit"
                            class="btn"
                            value="Invite speaker by email"
                            devoxx-set-focus-on="!model.addSpeakerDialogOpen"
                            devoxx-set-focus-field="talkAddSpeakerSearchName">
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>

    <div modal="model.termsAndConditionsOpen"
         close="model.termsAndConditionsOpen = false" options="{dialogClass: 'modal terms'}">
        <div class="modal-header">
            <h1>Terms and Conditions</h1>
        </div>
        <div class="modal-body">
            Devoxx 2013 Speaker Consent Form

On behalf of myself and my company/organisation, ("Organisation") and in consideration of my participation in the Event, I grant Devoxx (and its designated contractors), and its subsidiaries and affiliates under common control ("Devoxx") the following permissions in connection with Devoxx 2013, which are scheduled to take place November 11-15, 2013 (the "Event"):<br>
<br>
Permission to use my name, biographic material, likeness, and portrait (hereinafter collectively referred to as my "Likeness") for the purpose of publicising my presentation(s) at/participation in the Event (my "Presentation").<br>
Permission to make sound and visual recordings of my Presentation (the "Recordings").<br>
Permission to use, copy, translate, reformat, broadcast, publish, and distribute all or parts of my Presentation, the Recordings, a transcript of the Recordings, and any presentation materials that I provide to Devoxx and use in connection with my Presentation (the "Presentation Materials"). This includes, without limitation, the right to distribute the Presentation Materials via streaming and download from the Parleys.com web site, and the right to distribute, broadcast and rebroadcast my Presentation as part of Event proceedings and archives that Devoxx makes available on its web site. Any such use must be in connection with the Event, and must not be misleading or reflect negatively on my Organisation or me.<br>
<br>
I understand that neither my Organisation nor I will receive any compensation for granting these permissions. Devoxx is not granted any other permissions or rights with respect to my Likeness, my Presentation, the Recordings, or the Presentation Materials.<br>
<ol>

<li>I am the person who is accepting the invitation to present the session listed above; </li>

<li>grant this permission and agree to the terms and conditions set forth above on behalf of my Organisation and myself;</li>

<li>have authority to agree to such terms and conditions on behalf of my Organisation or co-speaker; and</li>

<li>confirm that no further consents or permissions are required by Devoxx in order to use the Presentation Materials.</li>

<ol>
        </div>
        <div class="modal-footer">
            <a ng-click="model.termsAndConditionsOpen = false" class="btn">Close</a>
        </div>
    </div>


</div>
