<div id="topinfo" class="area blue">
    <div class="grid">
        <div class="row">
            <div class="col11">
                <h1>Call For Papers</h1>

                <h3>Thx for shaping Devoxx</h3>
            </div>

            <div class="col6">
                <img src="images/proposal_icon.png" class="visual" alt=""/>
            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <div class="row">
            <div class="col20">
                <h4>Submit Proposal</h4>

                <form name="submitProposalForm" onsubmit="return false" ng-cloak>
                    <input type="hidden" ng-model="model.talk.id">
                    <ul>
                        <li>
                            <label for="talkEvent">Event</label>
                            <select name="event"
                                    id="talkEvent" ng-model="model.talk.event"
                                    ng-options="e.name for e in model.events"
                                    required
                                    ng-hide="model.events.length == 1 || !isNew"
                                    devoxx-uniform>
                                <option value="">Choose event</option>
                            </select>
                            <input type="text"
                                   ng-disabled="true"
                                   ng-model="model.talk.event.name"
                                   ng-show="model.events.length == 1 || !isNew"
                                   devoxx-uniform>
                            <div ng-show="model.talk.event.eventFrom == model.talk.event.eventTo">{{model.talk.event.eventFrom|date:shortDate}}</div>
                            <div ng-hide="model.talk.event.eventFrom == model.talk.event.eventTo">{{model.talk.event.eventFrom|date:shortDate}} until {{model.talk.event.eventTo|date:shortDate}}</div>
                        </li>

                        <div ng-show="model.talk.event"
                             devoxx-set-focus-on="model.talk.event"
                             devoxx-set-focus-field="talkTitle">
                            <li>
                                <label for="talkTitle">Title</label>
                                <input id="talkTitle" type="text" ng-model="model.talk.title" required devoxx-uniform>
                                <span devoxx-errors expression="submitProposalForm.talkTitle"></span>
                            </li>
                            <li>
                                <label>State</label>
                                <input type="text" disabled ng-model="model.talk.state" devoxx-uniform>
                            </li>

                            <li>
                                <label for="talkType">Type</label>
                                <select name="type"
                                        id="talkType" ng-model="model.talk.type"
                                        required
                                        ng-disabled="!model.talk.event"
                                        ng-options="t.name for t in model.talk.event.types"
                                        devoxx-uniform></select>
                            </li>

                            <li>
                                <label for="talkTrack">Track</label>
                                <select id="talkTrack"
                                        name="track"
                                        ng-model="model.talk.track"
                                        required
                                        ng-disabled="!model.talk.event"
                                        ng-options="t.name for t in model.talk.event.tracks"
                                        devoxx-uniform></select>
                            </li>

                            <li>
                                <label for="talkAddTag">Tags</label>
                                <input id="talkAddTag"
                                       name="addTag"
                                       type="text"
                                       ng-model="model.newTag"
                                       placeholder="Tags"
                                       typeahead="t.name for t in getTags($viewValue)"
                                       devoxx-on-return-key="addTag()"
                                       devoxx-uniform>
                                <a ng-click="addTag()" style="cursor: pointer">Add tag (or press return)</a>
                            </li>
                            <li>
                                <ul>
                                    <li ng-repeat="tag in model.talk.tags">
                                        {{tag.name}}
                                        <a style="cursor: pointer"
                                           ng-click="model.talk.tags.splice($index, 1)">&times;</a></li>
                                </ul>
                            </li>

                            <li>
                                <label for="talkAddSpeaker">Speakers</label>
                                <input id="talkAddSpeaker"
                                       type="email"
                                       ng-model="model.speakerDetails.email"
                                       placeholder="Enter the speakers' email address"
                                       devoxx-on-return-key="addSpeaker()"
                                       devoxx-uniform>
                                <br>
                                <a ng-click="addSpeaker()" style="cursor: pointer">Add speaker (or press return)</a>
                                <ul>
                                    <dl ng-repeat="speaker in model.talk.speakers">
                                        <dt>
                                            <img ng-src="{{createAvatarUrl(speaker.id, speaker.imageFile)}}">
                                            {{speaker.firstname}} {{speaker.lastname}} |
                                            <span ng-show="speaker.unknown" class="alert-info">will be invited by email | </span>
                                            <span ng-show="speaker.id == model.currentUser.id" class="alert-info">This is you | </span>
                                            <a ng-click="model.talk.speakers.splice($index, 1)"
                                               style="cursor: pointer">&times;</a>
                                        </dt>
                                    </dl>
                                </ul>
                            </li>

                            <li>
                                <label for="talkSummary">Talk summary</label>
                                <textarea id="talkSummary" ng-model="model.talk.summary" devoxx-uniform required></textarea>
                            </li>

                            <li>
                                <label for="talkExtraInfo">Message to program committee (optional)</label>
                                <textarea id="talkExtraInfo" ng-model="model.talk.extraInfo" devoxx-uniform></textarea>
                            </li>

                            <li>
                                <label for="talkAudienceExperience">Audience experience</label>
                                <select name="audienceExperience"
                                        id="talkAudienceExperience"
                                        ng-model="model.talk.audienceExperience"
                                        ng-options="o.value as o.text for o in model.experienceOptions"
                                        required
                                        devoxx-uniform></select>
                            </li>

                            <li>
                                <label></label>
                                <span>
                                    <label>
                                        <input type="checkbox"
                                               devoxx-uniform
                                               ng-model="model.talk.sharedProposal">
                                        I allow Devoxx to share my proposal with related User Groups
                                    </label>
                                </span>
                            </li>

                            <li>
                                <label></label>
                                <span>
                                    <label>
                                        <input type="checkbox"
                                               ng-model="model.termsAndConditionsAgreed"
                                               devoxx-uniform
                                               required>
                                        I agree to the terms and conditions
                                    </label>
                                </span>
                            </li>

                            <li>
                                <a ng-click="submit(model.talk, submitProposalForm)" class="btn btn-primary">Submit</a>
                            </li>
                        </div>
                    </ul>
                </form>
                <br class="clear">
            </div>
        </div>
    </div>

    <div modal="model.addSpeakerDialogOpen"
         devoxx-set-focus-on="model.addSpeakerDialogOpen"
         devoxx-set-focus-field="speakerDetailsFirstname"
         close="closeNewSpeaker()">
        <div class="modal-header">
            <h1>Add new speaker</h1>
        </div>
        <div class="modal-body">
            <form name="addSpeakerForm" ng-submit="addNewSpeaker(model.speakerDetails)">
                <ng-include src="'views/speaker/speaker_details.html'"></ng-include>
                <input type="submit"
                       class="btn"
                       value="Add new speaker (speaker will be invited by email)"
                       devoxx-set-focus-on="!model.addSpeakerDialogOpen"
                       devoxx-set-focus-field="talkAddSpeaker">
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>
