
<div ng-controller="ProfileCtrl">
    <div>
        <h3>Profile</h3>
        <p ng-hide="profileComplete()">Your profile is not yet complete. To continue, please fill in the missing values in the form below</p>
        <form>
            <ng-include src="'views/speaker/speaker_details.html'"></ng-include>
            </br>
            <input type="submit"
                   ng-click="updateProfile()"
                   class="btn"
                   value="Update profile">
        </form>
    </div>
</div>

