<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col9">

                <h1>Contact</h1>
                Lijsterbessendreef 1</br>
                B-8020 Oostkamp</br>
                Belgium</br>
                BE 0477 182 887</br>
                <b>info@devoxx.com</b>
            </div>
            <div class="col11">

                <img src="../../images/topinfo_location_visual.jpg" class="visual" alt="" />

            </div>
        </div>

    </div>
</div>