<div class="contact">

<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col9">

                <h1>Contact us</h1>
                <p>Lijsterbessendreef 1<br>
                    B-8020 Oostkamp<br>
                    Belgium<br>
                    BE 0477 182 887<br>
                    <a href="mailto:info@devoxx.com">info@devoxx.com</a>
                </p>

            </div>
        </div>

    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <form>

            <div class="row">
                <div class="col12" ng-controller="ContactCtrl">

                    <ul ng-hide="feedback.type == 'info'">
                        <li>
                            <label>Name</label>
                            <input type="text" class="text" name="name" value="" devoxx-uniform ng-model='model.name' />
                        </li>
                        <li>
                            <label>Email</label>
                            <input type="email" class="text" name="name" value="" devoxx-uniform ng-model='model.email' />
                        </li>
                        <li>
                            <label>Company</label>
                            <input type="text" class="text" name="company" value="" devoxx-uniform ng-model='model.company' />
                        </li>
                        <li>
                            <label>Category</label>
                            <ul class="checkradios clearfix">
                                <li><label><input type='checkbox' value='sponsoring' devoxx-uniform ng-model='model.category.sponsoring' /> Sponsoring</label></li>
                                <li><label><input type='checkbox' value='exhibition' devoxx-uniform ng-model='model.category.exhibition' /> Exhibition</label></li>
                                <li><label><input type='checkbox' value='presentations' devoxx-uniform ng-model='model.category.presentations' /> Presentations</label></li>
                                <li><label><input type='checkbox' value='practical' devoxx-uniform ng-model='model.category.practical' /> Practical</label></li>
                            </ul>
                        </li>
                        <li>
                            <label>Question</label>
                            <textarea rows="5" name="question" devoxx-uniform ng-model="model.question"></textarea>
                        </li>
                        <li class="btn">
                            <input type="submit" name="submit" value="Send" ng-click="send()" />
                        </li>


                    </ul>


                    <div ng-show="feedback" class="alert alert-{{feedback.type}}">
                        {{feedback.message}}
                    </div>

                </div>

                <div class="col6 push2 ">

                    <div class="banner">
                        <h4>IMPORTANT NOTE</h4>
                        <p>Make sure you first view the <a href="#faq">FAQ page</a> before contacting us.</p>                    
                    </div>

                </div>
            </div>

        </form>

    </div>
</div>