 
<div class="faq">

<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col11">

                <h1>FAQ</h1>

            </div>
        </div>

    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <div class="row">
            <div class="col12">

                <h1>Frequently asked questions</h1>

                <div id="accordion" accordeon>

                    <h4 class="acco_title">Registration</h4>
                    <div class="acco_content" style="display: block;">
                        <p>Devoxx 2013 will open soon</p>
                    </div>

                    <h4 class="acco_title"> Prices</h4>
                    <div class="acco_content">
                        <p>
                            Devoxx University is 350 Euro (2 days)<br>
                            Devoxx Conference is 450 Euro (3 days)<br>
                            Devoxx Combi ticket is 700 Euro (5 days)<br>
                            All prices are excluding 21% VAT<br>
                            Every attendee receives full access to the Devoxx 2013 channel on Parleys.com!</p>
                        </div>

                    <h4 class="acco_title">Twitter</h4>
                    <div class="acco_content">
                        <p>Follow us on <a href="http://twitter.com/devoxx">Twitter</a> for real-time info.</p>
                    </div>

                    <h4 class="acco_title">Java User Groups</h4>
                    <div class="acco_content">
                        <p>We have again a JUG affiliation program which is available until end of September. For new JUGs, make sure you add one of our banners on your JUG website and <a href="#/contact">Contact us</a>.</p>
                    </div>
                </div>

            </div>

            <div class="col6 push2 ">

                <div class="banner">
                    <h4>Other question?</h4>
                    <p>Please submit a question on our <a href="#/contact">Contact us</a> page if this page couldn't help you!</p>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

