 
<div class="faq">

<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col11">

                <h1>FAQ</h1>
                <h3></h3>
            </div>
        </div>

    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <div class="row">
            <div class="col12">

                <h1>Frequently asked questions</h1>

                <div id="accordion" accordeon>

                    <h4 class="acco_title">Registration</h4>
                    <div class="acco_content" style="display: block;">
                        <p>Devoxx registration is <a href="https://regbe.devoxx.com">now open</a>, we expect (like previous years) to sell out around the 2nd week of October!</p>
                    </div>

                    <h4 class="acco_title">Prices</h4>
                    <div class="acco_content">
                        <p>
                            Devoxx University is 350 Euro (2 days)<br>
                            Devoxx Conference is 470 Euro (3 days)<br>
                            Devoxx Combi ticket is 725 Euro (5 days)<br>
                            All prices are excluding 21% VAT<br>
                            Every attendee receives full access to the Devoxx 2013 channel on <a href="http://www.parleys.com/channel/5148921d0364bc17fc56adf0/presentations">Parleys.com</a>!</p>
                        </div>

                    <h4 class="acco_title">Event Types</h4>
                    <div class="acco_content">
                        <p>
                            Conference talks are 50 minutes presentations (*)<br>
                            University talks are in depth presentations of 3 hours (= 75m + 30m break + 75m) (*)<br>
                            Tools in Action are 30 minutes presentations demonstrating a programming tool (*)<br>
                            Hands-on Labs are 3 hour hands-on sessions<br>
                            Quickie are short 15 minute presentations during Lunch breaks<br>
                            BOF sessions are 60 minutes long, scheduled in the evening and are informal<br><br>
                            (*) Recorded for Parleys.com</p>
                    </div>

                    <h4 class="acco_title">Schedule</h4>
                    <div class="acco_content">
                        <p>
                            Expect the full schedule to be online 2nd week of September<br>
                            The University days starts at 9h30 on Monday morning<br>
                            The University ends on Tuesday evening with BOFs running until 22h00<br>
                            The Conference days start on Wednesday morning with keynote at 9h30<br>
                            The last Conference sessions ends on Friday 12h50</p>
                    </div>

                    <h4 class="acco_title">Wristband</h4>
                    <div class="acco_content">
                        <p>
                            Pickup your Uni. wristband on Sunday evening between 17h30 and 18h30<br>
                            Or on Monday morning from 8h00 onwards<br>
                            Pickup your Conf. wristband on Tuesday evening between 17h30 and 18h30<br>
                            Or Wednesday morning from 7h30 onwards<br>
                            IMPORTANT NOTE: wristbands are strictly personal and can't be shared</p>
                    </div>

                    <h4 class="acco_title">eTicket</h4>
                    <div class="acco_content">
                        <p>
                            We'll email your eTicket 2 weeks before the conference</p>
                    </div>

                    <h4 class="acco_title">Twitter</h4>
                    <div class="acco_content">
                        <p>Follow us on <a href="http://twitter.com/devoxx">Twitter</a> for real-time info.</p>
                    </div>

                    <h4 class="acco_title">Facebook</h4>
                    <div class="acco_content">
                        <p>Like us on <a href="http://facebook.com/devoxxcom">Facebook</a> and receive more detailed information about the different Devoxx editions.</p>
                    </div>

                    <h4 class="acco_title">Parleys.com</h4>
                    <div class="acco_content">
                        <p>Relive the many hundreds of Devoxx presentations on <a href="http://www.parleys.com/channel/5148921d0364bc17fc56adf0/presentations">Parleys.com</a> including France and the UK.</p>
                    </div>

                    <h4 class="acco_title">Java User Groups</h4>
                    <div class="acco_content">
                        <p>We have again a JUG affiliation program which is available until end of September. For new JUGs, make sure you add one of our banners on your JUG website and <a href="#/contact">Contact us</a>.</p>
                    </div>
                </div>

            </div>

            <div class="col6 push2 ">

                <div class="banner">
                    <h4>Other question?</h4>
                    <p>Please submit a question on our <a href="#/contact">Contact us</a> page if this page couldn't help you!</p>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

