<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col12">

                <h1>The Devoxx Team</h1>

                <p></p>
            </div>
        </div>

    </div>
</div>

<div id="filters" class="area blue">
    <div class="grid">

        <div class="row">
            <div class="col20">

                <ul>
                    <li>
                        <a href="#" data-filter="*">All</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".Steering">Steering</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".Program">Program</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".CFP">CFP</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".Devices">Devices</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".Social">Social Events</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".Media">Media</a>
                    </li>
                    <li>
                        <a href="#" data-filter=".Mobile">Mobile</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>

<div id="team" class="area lightgrey">
    <div class="grid">

        <div class="row">
            <div class="col20">

            <ul class="dotList" id="contactList">
                <li class="Program CFP">
                    <div class="icon" style="background: url('../../images/team/JoVoordeckers.jpg') no-repeat center;"></div>
                    <h4>Jo Voordeckers</h4>

                    <div class="popup">
                        <h4>Jo Voordeckers</h4>

                        <p><img src="../images/tracks/icon_web.png" width="30" style="float:left"><img src="../images/tracks/icon_mobile.png" width="30" style="float:left">
                            Enjoys a good challenge, learning and teaching new technologies, loves building UIs and make apps scale. </p>

                        <div class="links clearfix">
                            <a href="http://be.linkedin.com/in/jovoordeckers" class="btn_linkedin">LinkedIn</a>
                            <a href="http://twitter.com/jovoordeckers" class="btn_twitter">Twitter</a>
                            <a href="mailto:jo.voordeckers@devoxx.com" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program CFP">
                    <div class="icon" style="background: url('../../images/team/JanKeesVanAndel.jpg') no-repeat center;"></div>
                    <h4>Jan-Kees Van Andel</h4>

                    <div class="popup">
                        <h4>Jan-Kees Van Andel</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program Devices">
                    <div class="icon" style="background: url('../../images/team/GertLeenders.jpg') no-repeat center;"></div>
                    <h4>Gert Leenders</h4>

                    <div class="popup">
                        <h4>Gert Leenders</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Steering Program">
                    <div class="icon" style="background: url('../../images/team/StephanJanssen.jpg') no-repeat center;"></div>
                    <h4>Stephan Janssen</h4>

                    <div class="popup">
                        <h4>Stephan Janssen</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="http://twitter.com/stephan007" class="btn_twitter">Twitter</a>
                            <a href="mailto:sja@devoxx.com" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program Social">
                    <div class="icon" style="background: url('../../images/team/TimPeeters.jpg') no-repeat center;"></div>
                    <h4>Tim Peeters</h4>

                    <div class="popup">
                        <h4>Tim Peeters</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/LouisJacomet.jpg') no-repeat center;"></div>
                    <h4>Louis Jacomet</h4>

                    <div class="popup">
                        <h4>Louis Jacomet</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Steering">
                    <div class="icon" style="background: url('../../images/team/KristienLeyn.jpg') no-repeat center;"></div>
                    <h4>Kristien Leyn</h4>

                    <div class="popup">
                        <h4>Kristien Leyn</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/JohanVos.jpg') no-repeat center;"></div>
                    <h4>Johan Vos</h4>

                    <div class="popup">
                        <h4>Johan Vos</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program Devices">
                    <div class="icon" style="background: url('../../images/team/AlexVanBoxel.jpg') no-repeat center;"></div>
                    <h4>Alex Van Boxel</h4>

                    <div class="popup">
                        <h4>Alex Van Boxel</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program Devices">
                    <div class="icon" style="background: url('../../images/team/SamBuls.jpg') no-repeat center;"></div>
                    <h4>Sam Buls</h4>

                    <div class="popup">
                        <h4>Sam Buls</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/StijnVanDenEnde.jpg') no-repeat center;"></div>
                    <h4>Stijn van den Ende</h4>

                    <div class="popup">
                        <h4>Stijn van den Ende</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/LucDuponcheel.jpg') no-repeat center;"></div>
                    <h4>Luc Duponcheel</h4>

                    <div class="popup">
                        <h4>Luc Duponcheel</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/DanielDeluca.jpg') no-repeat center;"></div>
                    <h4>Daniel Deluca</h4>

                    <div class="popup">
                        <h4>Daniel Deluca</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/DavidDelabassee.jpg') no-repeat center;"></div>
                    <h4>David Delabassee</h4>

                    <div class="popup">
                        <h4>David Delabassee</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/DanHardiker.jpg') no-repeat center;"></div>
                    <h4>Dan Hardiker</h4>

                    <div class="popup">
                        <h4>Dan Hardiker</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/TashaCarl.jpg') no-repeat center;"></div>
                    <h4>Tasha Carl</h4>

                    <div class="popup">
                        <h4>Tasha Carl</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program">
                    <div class="icon" style="background: url('../../images/team/StephenChin.jpg') no-repeat center;"></div>
                    <h4>Stephen Chin</h4>

                    <div class="popup">
                        <h4>Stephen Chin</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program Mobile">
                    <div class="icon" style="background: url('../../images/team/PeterKuterna.jpg') no-repeat center;"></div>
                    <h4>Peter Kuterna</h4>

                    <div class="popup">
                        <h4>Peter Kuterna</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program Devices">
                    <div class="icon" style="background: url('../../images/team/HansCapelle.jpg') no-repeat center;"></div>
                    <h4>Hans Capelle</h4>

                    <div class="popup">
                        <h4>Hans Capelle</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="Program Mobile CFP">
                    <div class="icon" style="background: url('../../images/team/MikeSeghers.jpg') no-repeat center;"></div>
                    <h4>Miker Seghers</h4>

                    <div class="popup">
                        <h4>Mike Seghers</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
                <li class="CFP">
                    <div class="icon" style="background: url('../../images/team/CyrilLakech.jpg') no-repeat center;"></div>
                    <h4>Cyril Lakech</h4>

                    <div class="popup">
                        <h4>Cyril Lakech</h4>

                        <p>Vivamus sagittis lacus vel augue laoreet</p>

                        <div class="links clearfix">
                            <a href="#" class="btn_facebook">Facebook</a>
                            <a href="#" class="btn_linkedin">LinkedIn</a>
                            <a href="#" class="btn_twitter">Twitter</a>
                            <a href="#" class="btn_mail">Mail me</a>
                        </div>
                    </div>
                </li>
            </ul>

            </div>
        </div>
    </div>
</div>
