
<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col9">

                <h1>Location</h1>
                <h3>Practical info edition 2013</h3>

            </div>
            <div class="col11">

                <img src="../../images/topinfo_location_visual.png" class="visual" alt="" />

            </div>
        </div>

    </div>
</div>

<!-- Responsive iFrame -->
<div class="Flexible-container">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.be/maps?f=d&amp;source=s_d&amp;saddr=Antwerpen+Metropolis+%4051.246072,4.418223&amp;daddr=&amp;hl=en&amp;geocode=&amp;sll=51.246108,4.417394&amp;sspn=0.003234,0.004501&amp;mra=prev&amp;ie=UTF8&amp;ll=51.246072,4.418223&amp;spn=0.006295,0.010057&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.be/maps?f=d&amp;source=embed&amp;saddr=Antwerpen+Metropolis+%4051.246072,4.418223&amp;daddr=&amp;hl=en&amp;geocode=&amp;sll=51.246108,4.417394&amp;sspn=0.003234,0.004501&amp;mra=prev&amp;ie=UTF8&amp;ll=51.246072,4.418223&amp;spn=0.006295,0.010057&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>

<div id="adresse" class="area blue">
    <div class="grid">

        <div class="row">
            <div class="col4">

                <img src="../../images/pin_place.png" class="pin" alt="" />

            </div>
            <div class="col5 push1">

                <h4>Place to be</h4>
                <p>Metropolis Business Center<br>Kotterstraat<br>2030 Antwerp<br>Belgium</p>
                <p>Entrance is on the right side of the building at the 'Metropolis Business Center'</p>

            </div>
            <div class="col5">
                <img src="../../images/metropolis.png" width="400">
            </div>
        </div>

    </div>
</div>


<div id="hotel-bars" class="area lightgrey">
    <div class="grid">

        <div class="row">
            <div class="col4">

                <img src="../../images/pin_hotel.png" class="pin" alt="" />

            </div>
            <div class="col5 push1">

                <h4>Devoxx Hotels</h4>

                <ul class="linkList">
                    <li><a href="http://www.tulipinnantwerpen.com">Tulip Inn Antwerpen</a> (7.7km)</li>
                    <li><a href="http://www.hilton.com/en/hi/groups/personalized/A/ANRHITW-GDEVA-20131111/index.jhtml?WT.mc_id=POG">Hilton Antwerpen</a> (4.4km)</li>
                    <li><a href="http://www.hiexpress.com/redirect?path=hd&brandCode=ex&localeCode=en&regionCode=1&hotelCode=ANRHE&_PMID=99502056&corpNum=954317702&blpu=true">Holiday Inn Express Antwerp City-North</a> (2.7km)</li>
                    <li><a href="http://www.radissonblu.com/astridhotel-antwerp">Radisson blu</a> (4.2km)</li>
                </ul>

            </div>
            <div class="col4">

                <img src="../../images/pin_resto.png" class="pin" alt="" />

            </div>
            <div class="col5 push1">

                <h4>Bars &amp; Restaurants</h4>

                <ul class="linkList">
                    <li><a>Taketwo</a> (0km)</li>
                    <li><a>Matiate Kinepolis</a> (0km)</li>
                    <li><a>Den Engel</a> (4km)</li>
                    <li><a>Bier Central</a> (4km)</li>
                    <li><a>Kelly's Irish Pub</a> (4km)</li>
                    <li><a>Zao Wang</a> (sushi) (5km)</li>
                    <li><a>Kulminator</a> (5km)</li>
                </ul>

            </div>
        </div>

    </div>
</div>

