
<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col9">

                <h1>Location</h1>
                <h3>Practical info edition 2013</h3>

            </div>
            <div class="col11">

                <img src="../../images/topinfo_location_visual.jpg" class="visual" alt="" />

            </div>
        </div>

    </div>
</div>

<div id="googlemap">
    <iframe width="1450" height="530" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.be/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=51.245873,4.416846&amp;aq=&amp;sll=51.121196,3.240967&amp;sspn=0.506412,0.727158&amp;t=m&amp;ie=UTF8&amp;ll=51.245866,4.418049&amp;spn=0.007119,0.031092&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
</div>

<div id="adresse" class="area blue">
    <div class="grid">

        <div class="row">
            <div class="col4">

                <img src="../../images/pin_place.png" class="pin" alt="" />

            </div>
            <div class="col5 push1">

                <h4>Place to be</h4>
                <p>Metropolis Antwerp<br>Groenendaallaan 394<br>2030 Antwerp<br>Belgium</p>
                <p>T: +32 3 544 36 00<br>F: +32 3 544 36 06</p>

            </div>
            <!--<div class="col5">-->
                <!---->
                <!--pdf-->
                <!---->
            <!--</div>			-->
            <!--<div class="col5">-->
                <!---->
                <!--visual-->
                                        <!---->
            <!--</div>					-->
        </div>

    </div>
</div>


<div id="hotel-bars" class="area lightgrey">
    <div class="grid">

        <div class="row">
            <div class="col4">

                <img src="../../images/pin_hotel.png" class="pin" alt="" />

            </div>
            <div class="col5 push1">

                <h4>Hotels</h4>

                <ul class="linkList">
                    <li><a href="http://www.hoteldocklands.be/home">Dockland hotel</a> (1km)</li>
                    <li><a href="http://www.accorhotels.com/gb/hotel-0465-novotel-antwerpen/index.shtml">Novotel North</a> (3km)</li>
                    <li><a href="http://www.leopoldhotelantwerp.com/">Leopold Hotel</a> (4km)</li>
                    <li><a href="http://www.hotel-century-antwerpen.com/index.asp">Century Hotel</a> (4km)</li>
                    <li><a href="http://www.accorhotels.com/gb/hotel-8094-hotel-mercure-antwerpen-centrum-opera/index.shtml">Mercure Centrum Opera</a> (4km)</li>
                    <li><a href="http://ibishotel.ibis.com/gb/hotel-1453-ibis-antwerpen-centrum/index.shtml">Ibis Hotel</a> (4km)</li>
                    <li><a href="http://www.hyllithotel.be/hyllit_hotel_antwerpen-ligging.asp?taal=en">Hyllit Hotel</a> (4km)</li>
                    <li><a href="http://www.radissonblu.com/astridhotel-antwerp">Radisson SAS Hotel</a> (5km)</li>
                    <li><a href="http://www.tulipinnantwerpen.com/default.aspx">Tulip Inn</a> (4km)</li>
                </ul>

            </div>
            <div class="col4">

                <img src="../../images/pin_resto.png" class="pin" alt="" />

            </div>
            <div class="col5 push1">

                <h4>Bars &amp; Restaurants</h4>

                <ul class="linkList">
                    <li>TBA</li>
                </ul>

            </div>
        </div>

    </div>
</div>

