<div ng-controller="Speaker_MyTalksCtrl">
    <h3>My Proposals</h3> <a href="#/speaker/proposal/new">New</a>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Event</th>
                <th>Title</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="talk in model.myTalks" ng-click="showDetails(talk)">
                <td></td>
                <td>{{talk.eventName}}</td>
                <td>{{talk.title}}</td>
                <td>{{talk.state}}</td>
            </tr>
        </tbody>
    </table>
</div>