<dl>
    <dt><label for="speakerDetailsEmail">Email address</label></dt>
    <dd>
        <input id="speakerDetailsEmail"
               type="email"
               ng-model="model.speakerDetails.email"
               ng-disabled="true"
               >
    </dd>

    <dt><label for="speakerDetailsFirstname">First name</label></dt>
    <dd><input id="speakerDetailsFirstname" type="text" ng-model="model.speakerDetails.firstname"></dd>

    <dt><label for="speakerDetailsLastname">Last name</label></dt>
    <dd><input id="speakerDetailsLastname" type="text" ng-model="model.speakerDetails.lastname" ></dd>

    <dt><label for="speakerDetailsCountry">Country</label></dt>
    <dd><input id="speakerDetailsCountry" type="text" ng-model="model.speakerDetails.country" ></dd>

    <dt><label for="speakerDetailsCompany">Company</label></dt>
    <dd><input id="speakerDetailsCompany" type="text" ng-model="model.speakerDetails.company" ></dd>

    <dt><label for="speakerDetailsBio">Bio</label></dt>
    <dd><textarea id="speakerDetailsBio" type="text" ng-model="model.speakerDetails.speakerBio" ></textarea></dd>

    <dt><label for="speakerDetailsReferences">References</label></dt>
    <dd><textarea id="speakerDetailsReferences" type="text" ng-model="model.speakerDetails.speakingReferences" ></textarea></dd>

    <dt><label for="speakerDetailsTwitterHandle">Twitter handle</label></dt>
    <dd><input id="speakerDetailsTwitterHandle" type="text" ng-model="model.speakerDetails.twitterHandle"></dd>
</dl>
