<div ng-controller="Speaker_GlobalCtrl">
    <div ng-controller="Speaker_SubmitTalkCtrl">
        <h3>Submit Proposal</h3>
        <form name="submitTalkForm" onsubmit="return false">
            <dl>
                <dt><label for="talkEvent">Event</label></dt>
                <dd>
                    <select id="talkEvent" ng-model="model.talk.event" ng-options="e.name for e in global.events()" required ng-hide="global.events().length == 1">
                        <option value="">Choose event</option>
                    </select>
                    <input type="text" ng-disabled="true" ng-model="model.talk.event.name" ng-show="global.events().length == 1">
                </dd>
                <div collapse="!model.talk.event"  class="alert-info">
                    <h4>Event details</h4>
                    <dt>Date</dt>
                    <dd ng-show="model.talk.event.eventFrom == model.talk.event.eventTo">{{model.talk.event.eventFrom}}</dd>
                    <dd ng-hide="model.talk.event.eventFrom == model.talk.event.eventTo">{{model.talk.event.eventFrom + " until " + model.talk.event.eventTo}}</dd>
                    <dt>Description</dt>
                    <dd>{{model.talk.event.description}}</dd>
                    <dt>Contact data</dt>
                    <dd>{{model.talk.event.email}}</dd>
                </div>

                <div ng-show="model.talk.event"
                     devoxx-set-focus-on="model.talk.event"
                     devoxx-set-focus-field="talkTitle">
                    <dt><label for="talkTitle">Title</label></dt>
                    <dd><input id="talkTitle" type="text" ng-model="model.talk.title" required></dd>

                    <dt><label>State</label></dt>
                    <dd>Draft</dd>

                    <dt><label for="talkType">Type</label></dt>
                    <dd>
                        <select id="talkType" ng-model="model.talk.type" required ng-disabled="!model.talk.event" ng-options="t.name for t in model.talk.event.types"></select>
                    </dd>

                    <dt><label for="talkTrack">Track</label></dt>
                    <dd>
                        <select id="talkTrack" ng-model="model.talk.track" required ng-disabled="!model.talk.event" ng-options="t.name for t in model.talk.event.tracks"></select>
                    </dd>

                    <dt><label for="talkAddTag">Tags</label></dt>
                    <dd>
                        <input id="talkAddTag"
                               type="text"
                               ng-model="model.newTag"
                               placeholder="Tags"
                               typeahead="t.name for t in getTags($viewValue)"
                               devoxx-on-return-key="addTag()">
                        <a ng-click="addTag()">Add tag (or press return)</a>
                        <ul>
                            <li ng-repeat="tag in model.talk.tags">{{tag.name}} <a ng-click="model.talk.tags.splice($index, 1)">&times;</a> </li>
                        </ul>
                    </dd>

                    <dt><label for="talkAddSpeaker">Speakers</label></dt>
                    <dd>
                        <input id="talkAddSpeaker"
                               type="email"
                               ng-model="model.speakerDetails.email"
                               placeholder="Enter the speakers' email address"
                               devoxx-on-return-key="addSpeaker()">
                        <a ng-click="addSpeaker()">Add speaker (or press return)</a>
                        <ul>
                            <li ng-repeat="speaker in model.talk.speakers">
                                <img ng-src="http://devoxxcfp.s3.amazonaws.com/images/{{speaker.id}}/{{speaker.imageFile}}"
                                     ng-show="speaker.id != '' && speaker.imageFile != ''">
                                {{speaker.firstname}} {{speaker.lastname}} |
                                <span ng-show="speaker.unknown" class="alert-info">will be invited by email</span>
                                <span ng-show="speaker.id == model.currentUser.id" class="alert-info">This is you</span>
                                | <a ng-click="model.talk.speakers.splice($index, 1)">&times;</a> </li>
                            </li>
                        </ul>
                    </dd>

                    <dt><label for="talkSummary">Talk summary</label></dt>
                    <dd><textarea id="talkSummary" ng-model="model.talk.summary"></textarea></dd>

                    <dt><label for="talkMessageToSteering">Message to steering committee (optional)</label></dt>
                    <dd><textarea id="talkMessageToSteering" ng-model="model.talk.messageToSteering"></textarea></dd>

                    <dt><label for="talkAudienceExperience">Audience experience</label></dt>
                    <dd>
                        <select id="talkAudienceExperience"
                                ng-model="model.talk.audienceExperience"
                                ng-options="option for option in global.experienceOptions"
                                required></select>
                    </dd>

                    <dt><label for="talkLanguage">Language</label></dt>
                    <dd>
                        <select id="talkLanguage"
                                ng-model="model.talk.language"
                                ng-options="option.label for option in global.languageOptions"
                                required></select>
                    </dd>

                    <dt></dt>
                    <dd><label><input type="checkbox" ng-model="model.talk.shareWithJugsAllowed"> I allow Devoxx to share my proposal with related User Groups</label></dd>

                    <dt></dt>
                    <dd><label> <input type="checkbox" ng-model="model.termsAndConditionsAgreed"> I agree to the terms and conditions</label></dd>

                    <dt></dt>
                    <dd>
                        <input type="submit" ng-click="submit(model.talk)" class="btn btn-primary">
                        <input type="reset" ng-click="cancel(model.talk)" class="btn">
                    </dd>
                </div>
            </dl>
        </form>
        <br class="clear">
        <div modal="model.addSpeakerDialogOpen"
             devoxx-set-focus-on="model.addSpeakerDialogOpen"
             devoxx-set-focus-field="speakerDetailsFirstname"
             close="close()">
            <div class="modal-header">
                <h1>Add new speaker</h1>
            </div>
            <div class="modal-body">
                <form name="addSpeakerForm">
                    <ng-include src="'views/speaker/speaker_details.html'"></ng-include>
                    <input type="submit"
                           ng-click="addNewSpeaker(model.speakerDetails)"
                           class="btn"
                           value="Add new speaker (speaker will be invited by email)">
                    <!--<input type="reset"-->
                           <!--ng-click="model.addSpeakerDialogOpen = false"-->
                           <!--class="btn"-->
                           <!--value="Cancel">-->
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>