<div ng-controller="Speaker_GlobalCtrl">
    <div ng-controller="Speaker_SubmitTalkCtrl">
        <ng-include src="'views/speaker/_menu.html'"></ng-include>
        <h3>Submit Talk</h3>
        <form name="submitTalkForm" onsubmit="return false">
            <dl>
                <dt>Event</dt>
                <dd>
                    <select ng-model="model.event" ng-options="e.name for e in global.events" required>
                        <option value="">Choose event</option>
                    </select>
                </dd>
                <dt>Title</dt>
                <dd><input type="text" ng-model="model.talk.title" required></dd>
                <dt>State</dt>
                <dd>Draft</dd>
                <dt>Track</dt>
                <dd>
                    <select ng-model="model.talk.track" required ng-disabled="!model.event" ng-options="t.name for t in model.event.tracks"></select>
                </dd>
                <dt>Tags</dt>
                <dd>
                    <span class="form-inline" ng-form="addTagForm">
                        <input name="newTag"
                               type="text"
                               ng-model="model.newTag"
                               bs-typeahead="global.tags"
                               devoxx-on-return-key="addNewTag(model.newTag, model.talk.tags, addTagForm.$valid)"
                               devoxx-does-not-exist-in-list="model.talk.tags">
                        <span devoxx-errors-for-field="addTagForm.newTag"></span>
                        <button ng-click="addNewTag(model.newTag, model.talk.tags, addTagForm.$valid)" ng-disabled="addTagForm.$invalid || model.newTag==''">Add</button>
                    </span>
                    <div ng-repeat="tag in global.tags">
                        <input type="checkbox" ng-checked="co = {{contains(model.talk.tags, tag)}}" ng-click="toggleTag(tag, co)"> {{tag}} {{co}}
                    </div>
                </dd>
                <dt>Speakers</dt>
                <dd>
                    <ul class="unstyled">
                        <li>
                            <span ng-class="{strikethrough: model.talk.onBehalfOf}">Currently logged in user: {{model.currentSpeaker.name}}</span>
                            <label><input type="checkbox" ng-model="model.talk.onBehalfOf" id="onBehalfOf"/>You are registering on behalf of:</label>
                        </li>
                        <li ng-repeat="speaker in model.talk.speakers" class="form-inline">
                            {{speaker.name}} <a ng-click="removeSpeaker(speaker)">Remove</a>
                        </li>
                        <li class="form-inline">
                            <select ng-model="model.newSpeaker" ng-options="{{model.speakers"></select>
                            <a href="#" ng-click="addSpeaker(model.newSpeaker)">Add speaker</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </form>
        <br class="clear">
    </div>
</div>