<div class="team" isotope>

    <div id="topinfo" class="area orange">
        <div class="grid">

            <div class="row">
                <div class="col9">

                    <h1>The 2013 Devoxxians</h1>

                    <p>A first batch of Devoxxians will be released in August followed by a second batch beginning of September.</p>

                </div>
                <div class="col10 push1">

                    <div id="filtertracks" class="filtertracks">
                        <ul class="option-set" data-filter-group="track">
                            <li>
                                <a href="#" class="selected" data-filter="">
                                    <span class="checker"></span>
                                    <span class="icon"></span>
                                    <span class="name">All</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".Web">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_web.png" alt="" /></span>
                                    <span class="name">Web &amp; HTML5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".Cloud">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_cloud.png" alt="" /></span>
                                    <span class="name">Cloud &amp; Big Data</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".Future">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_future.png" alt="" /></span>
                                    <span class="name">Future&#60;Devoxx&#62;</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".Mobile">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_mobile.png" alt="" /></span>
                                    <span class="name">Mobile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".JVM">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_alternative.png" alt="" /></span>
                                    <span class="name">JVM Languages</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".JavaEE">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_javaee.png" alt="" /></span>
                                    <span class="name">JavaEE</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".JavaSE">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_javase.png" alt="" /></span>
                                    <span class="name">JavaSE</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".Methodology">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_methology.png" alt="" /></span>
                                    <span class="name">Methodology</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".Security">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_architecture.png" alt="" /></span>
                                    <span class="name">Arch. &amp; Security</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="filters" class="area blue">
        <div class="grid">

            <div class="row">
                <div class="col20">

                    <ul class="option-set" data-filter-group="day">
                        <li>
                            <a href="#" data-filter="" class="selected">All</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Monday">Monday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Tuesday">Tuesday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Wednesday">Wednesday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Thursday">Thursday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Friday">Friday</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <div id="team" class="area lightgrey">
        <div class="grid">

            <div class="row">
                <div class="col20">

                    <ul class="dotList" id="contactList">
                        <li class="Monday JavaSE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Monday JavaSE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Monday JavaEE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Monday JavaEE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Tuesday Web">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Tuesday Web</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Tuesday Future">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Tuesday Future</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Wednesday JavaEE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Wednedsay JavaEE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Wednesday Security">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Wednesday Security</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Wednesday Mobile">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Wednesday Mobile</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Wednesday Methodology">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Wednesday Methodology</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Wednesday JavaSE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Wednesday JavaSE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Wednesday JavaEE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Wednesday JavaEE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Thursday JavaSE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Thursday JavaSE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Thursday JavaEE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Thursday JavaEE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Thursday JavaSE">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Thursday JavaSE</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Thursday Cloud">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Thursday Cloud</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                        <li class="Friday Cloud">
                            <div class="icon" style="background: url(../../images_dummy/tweeter_dummy.jpg) no-repeat center;"></div>
                            <h4>Friday Cloud</h4>
                            <div class="popup">
                                <h4>Name comes here</h4>
                                <p>Vivamus sagittis lacus vel augue laoreet</p>
                                <a href="#/schedule_detail" class="btn">View my talks</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

</div>
