<div class="team" isotope>

    <div id="topinfo" class="area orange">
        <div class="grid">

            <div class="row">
                <div class="col9">

                    <h1>Schedule 2013</h1>

                    <p>We'll publish a first batch of presentations later this month. Make sure to follow us on <a
                            href="https://twitter.com/devoxx">Twitter</a> for updates.</p>

                </div>
                <div class="col10 push1">

                    <div class="filtertracks">
                        <ul>
                            <li>
                                <a href="#" class="button selected datatrack" id="webhtml5Button">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_web.png" alt=""/></span>
                                    <span class="name">Web &amp; HTML5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="cloudbigdataButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_cloud.png" alt=""/></span>
                                    <span class="name">Cloud &amp; Big Data</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="futureButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_future.png" alt=""/></span>
                                    <span class="name">Future&#60;Devoxx&#62;</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="mobileButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_mobile.png" alt=""/></span>
                                    <span class="name">Mobile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="alternativeButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_alternative.png" alt=""/></span>
                                    <span class="name">JVM Languages</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="jvmButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_javaee.png" alt=""/></span>
                                    <span class="name">JavaEE</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="javaseButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_javase.png" alt=""/></span>
                                    <span class="name">JavaSE</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="methodologyButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_methology.png" alt=""/></span>
                                    <span class="name">Methodology</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="button selected datatrack" id="archsecurityButton">
                                    <span class="checker"></span>
                                    <span class="icon"><img src="../../images/tracks/icon_architecture.png" alt=""/></span>
                                    <span class="name">Arch. &amp; Security</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div id="filters" class="area blue">
        <div class="grid">

            <div class="row">
                <div class="col20">

                    <ul class="option-set" data-filter-group="day">
                        <li>
                            <a href="#" data-filter="" class="selected">All</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Nonday" class="button selected dataday" id="mondayButton">Monday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Tuesday" class="button selected dataday" id="tuesdayButton">Tuesday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Wednesday" class="button selected dataday" id="wednesdayButton">Wednesday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Thursday" class="button selected dataday" id="thursdayButton">Thursday</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".Friday" class="button selected dataday" id="fridayButton">Friday</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>


    <div id="sheduleDays" class="area lightgrey">

        <div class="talks trackFilter" data-day="monday">

            <div class="head">
                <div class="grid">

                    <div class="row">
                        <div class="col15">

                            <h2>Monday</h2>

                        </div>
                        <div class="col5">

                        </div>
                    </div>

                </div>
            </div>


            <div class="grid">

                <div class="trackFilter row" data-day="monday" data-track="methodology">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">

                        10AM - 11AM

                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="monday" data-track="cloudbigdata">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">

                        10AM - 11AM

                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/gb.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="monday" data-track="webhtml5">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="talks trackFilter" data-day="tuesday">

            <div class="head">
                <div class="grid">

                    <div class="row">
                        <div class="col15">


                            <h2>Tuesday</h2>


                        </div>
                        <div class="col5">

                        </div>
                    </div>

                </div>
            </div>

            <div class="grid">

                <div class="trackFilter row" data-day="tuesday" data-track="javase">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/gb.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="tuesday" data-track="webhtml5">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="tuesday" data-track="javase">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="talks trackFilter" data-day="wednesday">

            <div class="head">
                <div class="grid">

                    <div class="row">
                        <div class="col15">


                            <h2>Wednesday</h2>


                        </div>
                        <div class="col5">

                        </div>
                    </div>

                </div>
            </div>

            <div class="grid">

                <div class="trackFilter row" data-day="wednesday" data-track="methodology">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="wednesday" data-track="cloudbigdata">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/gb.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="wednesday" data-track="webhtml5">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/gb.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="talks trackFilter" data-day="thursday">


            <div class="head">
                <div class="grid">

                    <div class="row">
                        <div class="col15">


                            <h2>Thursday</h2>


                        </div>
                        <div class="col5">

                        </div>
                    </div>

                </div>
            </div>

            <div class="grid">

                <div class="trackFilter row" data-day="thursday" data-track="jvm">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="thursday" data-track="webhtml5">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="thursday" data-track="methodology">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="talks trackFilter" data-day="friday">


            <div class="head">
                <div class="grid">

                    <div class="row">
                        <div class="col15">


                            <h2>Friday</h2>


                        </div>
                        <div class="col5">

                        </div>
                    </div>

                </div>
            </div>

            <div class="grid">

                <div class="trackFilter row" data-day="thursday" data-track="jvm">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="thursday" data-track="webhtml5">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

                <div class="trackFilter row" data-day="thursday" data-track="methodology">
                    <div class="col10">

                        <div class="icon">
                            <img src="../../images/tracks/icon_cloud.png" alt=""/>
                        </div>
                        <a href="#/schedule_detail">talk 1 webhtml5</a>


                    </div>
                    <div class="col3">


                        10AM - 11AM


                    </div>
                    <div class="col7">

                        <div class="speakerpic">
                            <img src="../../images_dummy/tweeter_dummy.jpg" alt=""/>
                        </div>

                        <!--<div class="flag">-->
                            <!--<img src="../../images/flags/belgium.jpg" alt="Belguim"/>-->
                        <!--</div>-->

                        <div class="speaker">
                            Name speaker
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
