<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DEVOXX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- TODO add local resources -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <!-- build:css styles/all.css -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/grid.css">
    <link rel="stylesheet" href="styles/meanmenu.css">
    <link rel="stylesheet" href="styles/uniform.css">
    <link rel="stylesheet" href="styles/isotope.css">
    <link rel="stylesheet" href="styles/devoxx.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/scripts-ie.js -->
    <!-- TODO: scripts to bottom of the page (performance) -->
    <!--[if lt IE 9]>
    <script src="components/es5-shim/es5-shim.js"></script>
    <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
    <script src="components/jquery/jquery.js"></script>
    <script src="components/modernizr/modernizr.js"></script>
    <script src="components/unstable-angular-complete/angular.js"></script>
    <script src="components/unstable-angular-complete/angular-cookies.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="components/bxslider-4/jquery.bxslider.js"></script>
    <script src="components/meanMenu/jquery.meanmenu.js"></script>
    <script src="components/jquery.uniform/jquery.uniform.js"></script>
    <script src="components/isotope/jquery.isotope.js"></script>
    <script src="components/moment/moment.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/eventbus.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/generic_controllers.js"></script>
    <script src="scripts/ChangePassword.js"></script>
    <script src="scripts/LostPassword.js"></script>
    <script src="scripts/Register.js"></script>
    <script src="scripts/speaker/module.js"></script>
    <script src="scripts/speaker/EditProfile.js"></script>
    <script src="scripts/speaker/Proposals.js"></script>
    <script src="scripts/speaker/SubmitProposal.js"></script>
    <script src="scripts/speaker/ProposalDetails.js"></script>
    <script src="scripts/not_in_karma/run.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41435900-1', 'devoxx.be');
        ga('send', 'pageview');

    </script>
</head>
<body ng-app="cfpSpeakerApp">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<header>
    <div class="grid">
        <div class="row">
            <div class="col6">
                <a href="#"><img src="images/devoxx_logo.gif"></a>
            </div>

            <nav class="" ng-controller="LoginCtrl">
                <ul>
                    <li><a href="#/">Home</a></li>
                    <!--<li class="submenu subleft">-->
                    <!--<a href="#">Program TBA</a>-->
                    <!--<ul>-->
                    <!--<li><a href="#">Schedule</a></li>-->
                    <!--<li><a href="#">Speakers</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <li class="submenu subright">
                        <a>Practical</a>
                        <ul>
                            <li><a href="#/faq">FAQ</a></li>
                            <li><a href="#/team">Team</a></li>
                            <li><a href="#/venue">Venue</a></li>
                            <li><a href="#/contact">Contact</a></li>
                        </ul>
                    </li>
                    <!--<li class="btn hide_mobile">-->
                    <!--<a href="#">Buy tickets</a>-->
                    <!--</li>-->
                    <li class="btn popup login btn_grey" ng-hide="model.currentUser()" ng-class="{'open':model.loginRequested}">
                        <a>Login</a>
                        
                        <ul ng-class="{'visible':model.loginRequested}">
                            <li> 
                                <div class="popup">
                                    <form ng-submit="login()" class="clearfix" autocomplete="off">
                                        <div class="alert alert-error" ng-show="model.loginError">{{model.loginError}}
                                        </div>
                                        <input type="text" name="login" value="" placeholder="E-mail"
                                               ng-model="model.email"/>
                                        <input type="password" name="pass" value="" placeholder="Password"
                                               ng-model="model.password" devoxx-on-return-key="login()"/>
                                        <a href="#/register" class="btnRegister">Register</a>
                                        <input type="submit" name="submit" value="Login" class="btn"
                                               ng-disabled="model.loginDisabled"/>
                                    </form>

                                    <div class="connect clearfix hidden">
                                        <a href="#" class="btnFacebook">Facebook</a>
                                        <a href="#" class="btnTwitter">Twitter</a>
                                        <a href="#" class="btnLinkedin">LinkedIn</a>
                                        <a href="#" class="btnGoogle">Google+</a>
                                    </div>

                                    <div class="actionslinks clearfix">
                                        <a href="#/lost_password" class="btnForgot">Forgot password</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu subright" ng-show="model.currentUser()">
                        <a>{{model.currentUser().firstname}} {{model.currentUser().lastname}} <img src="images/User-icon.png" height="10" width="10" style="margin-top: -1px;"></a>
                        <ul>
                            <li><a href="#/speaker" ng-click="logout()">Logout</a></li>
                            <li><a href="#/speaker/proposals">Proposals</a></li>
                            <li><a href="#/speaker/profile">Profile</a></li>
                        </ul>
                    </li>

                    <!--<li class="popup search">-->
                        <!--<a href="#">Search</a>-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<div class="popup">-->
                                    <!--<form>-->
                                        <!--<input type="text" name="search" value="" placeholder="search..."/>-->
                                    <!--</form>-->

                                    <!--<ol>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<img src="images_dummy/search_icon1_dummy.jpg" alt=""/>-->

                                                <!--<div class="title">Lorum ipsum dolor</div>-->
                                                <!--<div class="subtitle">Mobi leo risus</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<img src="images_dummy/search_icon2_dummy.jpg" alt=""/>-->

                                                <!--<div class="title">Lorum ipsum dolor</div>-->
                                                <!--<div class="subtitle">Mobi leo risus</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<img src="images_dummy/search_icon2_dummy.jpg" alt=""/>-->

                                                <!--<div class="title">Lorum ipsum dolor</div>-->
                                                <!--<div class="subtitle">Mobi leo risus</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<img src="images_dummy/search_icon1_dummy.jpg" alt=""/>-->

                                                <!--<div class="title">Lorum ipsum dolor</div>-->
                                                <!--<div class="subtitle">Mobi leo risus</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<img src="images_dummy/search_icon2_dummy.jpg" alt=""/>-->

                                                <!--<div class="title">Lorum ipsum dolor</div>-->
                                                <!--<div class="subtitle">Mobi leo risus</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    <!--</ol>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>
    <div id="submenu">
    </div>
</header>
<div class="menuSpacer"></div>

<div class="container" ng-controller="AppCtrl">
    <ng-view/>
</div>

<footer class="area grey">
    <div class="grid">

        <div class="row">
            <div class="col5">
                <h4>previous editions</h4>
                <ul>
                    <li><a href="http://devoxx.com/display/DV12/Home">Edition 2012</a></li>
                    <li><a href="http://devoxx.com/display/DV11/Home">Edition 2011</a></li>
                    <li><a href="http://devoxx.com/display/Devoxx2K10/Home">Edition 2010</a></li>
                    <li><a href="http://devoxx.com/display/DV09/Home">Edition 2009</a></li>
                </ul>

                <h4>Site map</h4>
                <ul>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#about">About CFP</a></li>
                    <li><a href="#venue">Venue</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#">Schedule TBA</a></li>
                    <li><a href="#">Speakers TBA</a></li>
                </ul>
            </div>

            <div class="col5">
                <h4>Other countries</h4>
                <ul>
                    <li><a href="http://www.devoxx.com/display/FR13/Accueil">Devoxx France</a></li>
                    <li><a href="http://www.devoxx.com/display/UK13/Home">Devoxx UK</a></li>
                </ul>

                <h4>Follow us</h4>
                <ul>
                    <li><a href="https://www.facebook.com/devoxxcom">Facebook</a></li>
                    <li><a href="https://twitter.com/devoxx">Twitter</a></li>
                </ul>
            </div>

            <div class="col10 sponsors">
                <h4>Our sponsors</h4>
                <a class="hidden" href="https://developers.google.com/" target="_blank"><img src="images/sponsors/google.png"
                                                                              alt="Google"/></a>
                <a href="http://www.oracle.com/us/technologies/java/overview/index.html" target="_blank"><img
                        src="images/sponsors/oracle.png" alt="Oracle"/></a>
                <a href="http://www.wildfly.org/" target="_blank"><img src="images/sponsors/jboss.png" alt="JBoss"/></a></br>
                <a href="https://www.smals.be/nl" target="_blank"><img src="images/sponsors/smals.png" alt="Smals"/></a></br>
                <a href="http://www.hazelcast.com/" target="_blank"><img src="images/sponsors/hazelcast.png" alt="Hazelcast"/></a>
                <a href="http://www.hello2morrow.com/" target="_blank"><img src="images/sponsors/hello2morrow.png" alt="Hello2Morrow"/></a>
                <a href="http://www.vaadin.com/" target="_blank"><img src="images/sponsors/vaadin.png" alt="Vaadin"/></a>
                <a href="http://www.aca-it.be/" target="_blank"><img src="images/sponsors/aca.png" alt="ACA IT solutions"/></a>
            </div>
        </div>
    </div>
</footer>

<div id="disclaimer" class="area black">
    <div class="grid">
        <div class="row">
            <!--<div class="col11">-->
                <!--<a href="#">privacy policy</a> | <a href="#">disclaimer</a>-->
            <!--</div>-->
        </div>
    </div>
</div>

</body>

</html>
