
<div class="contact">

<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col9">

                <h1>About</h1>
                <h3>Devoxx CFP</h3>

            </div>
            <div class="col11">

                <a href="https://github.com/devoxx">
                    <img src="images/github.png" class="visual" alt="" />
                </a>

            </div>
        </div>

    </div>
</div>

<div id="hotel-bars" class="area lightgrey" ng-controller="AboutCtrl">
    <div class="grid">
        <p>We've open sourced the Devoxx Call For Papers client side modules, just click on the above header image to see the related github repo's.</p>
        <p>Improvements are always welcome. Lets us know when you have a 'pull request' available and we'll add you as a contributor!</p>

        <div class="row">
            <div class="col8">

                <h4>Programmed by</h4>

                <ul class="linkList">
                    <li><a href="http://www.twitter.com/cyril_lakech">Cyril Lakech</a> (@cyril_lakech)</li>
                    <li><a href="http://www.twitter.com/jankeesvanandel">Jan-Kees van Andel</a> (@jankeesvanandel)</li>
                    <li><a href="http://www.twitter.com/jovoordeckers">Jo Voordeckers</a> (@jovoordeckers)</li>
                    <li><a href="http://www.twitter.com/mikeseghers">Mike Seghers</a> (@mikeseghers)</li>
                    <li><a href="http://www.twitter.com/stephan007">Stephan Janssen</a> (@stephan007)</li>
                </ul>

            </div>
            <div class="col12">

                <h4>Contributors</h4>

                <ul class="linkList">
                    <li><a href="http://www.twitter.com/ndeloof">Nicolas De Loof</a> (@ndeloof)</li>
                </ul>

                <h4>Gracefully hosted by CloudBees Platform</h4>
                <a href="http://www.cloudbees.com">
                    <img src="http://www.cloudbees.com/sites/default/files/Button-Powered-by-CB.png" alt="Powered by CloudBees" border="0"/>
                </a>

            </div>
        </div>

    </div>
</div>

</div>
