<div id="topinfo" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col16">
                <h1>Change password</h1>
<!--                 <h3>Register yourself here</h3>
                <p>Want to be part of the great Java community? Then you can register yourself here.</p>
 -->            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <form ng-hide="feedback.type == 'info'" name="registerForm" ng-submit="changePassword()">
            <div class="row">
                <div class="col12">                
                    <h4>Choose a new password</h4>
                    <ul>
                        <li>
                            <label for="registerPassword">Password</label>
                            <input id="registerPassword" type="password" ng-model="model.newUser.password" required devoxx-uniform>
                        </li>
                        <li>
                            <label for="registerPassword">Password again</label>
                            <input id="registerPassword" type="password" ng-model="model.newUser.password2" required devoxx-uniform>
                        </li>                        
                        <li>
                            <label></label>
                            <div class="alert alert-danger" ng-hide='passwordsMatch()'>Passwords must match!</div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col6 push6">
                    <ul>
                        <li class="btn">
                            <input type="submit" name="" value="Register" ng-disabled="!passwordsMatch()">
                        </li>
                    </ul>
                </div>
            </div>

        </form>

            <div class="row">
                <div class="col9 push3">
                    <div class="alert alert-{{feedback.type}}" ng-show="feedback">{{feedback.message}}</div>
                </div>
            </div>        
    </div>
</div>
