<div id="carousel" carousel>
    <ul>
        <li>
            <div class="grid">
                <div class="row">           
                    <div class="col9 content">
                        <h1>Born to be</h1>
                        <h3>November 11-15 2013</h3>
                        <p>Ready for your rebirth?</p>
                    </div>
                    <div class="col11">
                        <img src="images_dummy/slide_01.png" class="visual" alt="Be born again">
                    
                    </div>
                </div>
            </div>                  
        </li>
        <!--<li>-->
            <!--<div class="grid">-->
                <!--<div class="row">           -->
                    <!--<div class="col9 content">-->
                        <!--<h1>Call for Presentations</h1>-->
                        <!--<h3>Speak @Devoxx</h3>-->
                        <!--<p>We're looking for passionate developers from the community to present at Devoxx, check out the tracks and submit your talk(s)</p>-->
                        <!--<a href="#/tracks" scroll="tracks" class="btn">Check our tracks</a>-->
                    <!--</div>-->
                    <!--<div class="col11">-->
                        <!--<img src="images_dummy/slide_02.png" class="visual" alt="Be born again">-->
                    <!--</div>-->
                <!--</div>-->
                <!---->
            <!--</div>                  -->
        <!--</li>-->
        <li>
            <div class="grid">
            
                <div class="row">           
                    <div class="col9 content">
                                                
                        <h1>Let's talk Java</h1>
                        <h3>Tracks 2013</h3>
                        <p>Java is at the roots of this conference, come learn about what's new in Java SE/EE, JSRs, JDK8, modularity and much more at Devoxx</p>
                        <a href="#/tracks" scroll="tracks" class="btn">All tracks</a>
                        
                    </div>
                    <div class="col11">
                    
                        <img src="images_dummy/slide_java.png" class="visual" alt="Be born again">
                    
                    </div>
                </div>
                
            </div>                  
        </li>
        <li>
            <div class="grid">
            
                <div class="row">           
                    <div class="col9 content">
                    
                        <h1>What's new in Android</h1>
                        <h3>Tracks 2013</h3>
                        <p>Android is the largest mobile platform in use today, come learn about the latest updates from Googlers or passionate member of it's ever growing community</p>
                        <a href="#/" class="btn" scroll="tracks">All tracks</a>
                        
                    </div>
                    <div class="col11">
                    
                        <img src="images_dummy/slide_android.png" class="visual" alt="Be born again">
                    
                    </div>
                </div>
                
            </div>                  
        </li>
        <li>
            <div class="grid">
            
                <div class="row">           
                    <div class="col9 content">
                    
                        <h1>What you didn't know about HTML5</h1>
                        <h3>Tracks 2013</h3>
                        <p>Learn about the new breed of JS web frameworks, the new features in HTML5, CSS3, JavaScript.next, the power of node.js and all it's libraries and tools that make web development productive and fun</p>
                        <a href="#/" class="btn" scroll="tracks">All tracks</a>
                        
                    </div>
                    <div class="col11">
                    
                        <img src="images_dummy/slide_html5.png" class="visual" alt="Be born again">
                    
                    </div>
                </div>
                
            </div>                  
        </li>
</div>


 <div id="about" class="area lightgrey">
    <div class="grid">
        <div class="row">
            <div class="col12">
                <div class="counter" id="counterSpeakers">
                    <div class="amount">195</div>
                    <div class="description">Speakers</div>
                </div>
                <div class="counter" id="counterTalks">
                    <div class="amount">200</div>
                    <div class="description">Presentations</div>
                </div>
                <div class="map">
                    <img src="../images/home_about_map.png" alt="map" />
                    <a href="#home" class="btn_be"><span>Belgium</span></a>
                    <a href="http://www.devoxx.com/display/FR13/Accueil" class="btn_fr"><span>France</span></a>
                    <a href="http://www.devoxx.com/display/UK13/Home" class="btn_uk"><span>United Kingdom</span></a>
                </div>
            </div>
            <div class="col7 push1 content">
                <h2>Belgium expects 3450 Devoxxians</h2>
                <h3>Nov. 11-15 2013</h3>
                <p>The Conference is SOLD OUT!<br>Limited number of University tickets still available.</p>
                <a href="https://regbe.devoxx.com/public#DV13" class="btn">Buy tickets</a>
            </div>
        </div>
    </div>
</div> 

<div id="news" class="area white">
    <h2>Latest news</h2>

    <div class="carousel">
        <ul class="newsList clearfix" news>
            <li>
                <img src="../images/news/raspberry.jpg" alt="">
                <div class="date">9 Oct. '13</div>
                <h4>IoT Shop @ Devoxx</h4>
                <p>Next to our book store we'll also host this year an electro shop where you can purchase Raspberry PI's, Arduino's and even Robot starter kits!</p>
                <p>Make sure to bring your IoT wish list :)</p>
            </li>
            <li>
                <a href="https://regbe.devoxx.com"><img src="../images/news/soldout.jpg" alt=""></a>
                <div class="date">3 Oct. '13</div>
                <h4>Conference Sold Out</h4>
                <p>The Devoxx Conference is completely Sold Out!</p>
                <p>We still have a few University tickets available.</p>
                <p><a href="https://regbe.devoxx.com">Get them now!</a></p>
            </li>
            <li>
                <a href="http://www.parleys.com/channel/5148921d0364bc17fc56adf0/presentations?sort=views&state=public"><img src="../images/news/parleys.jpg" alt=""></a>
                <div class="date">2 Oct. '13</div>
                <h4>Devoxx'12 Free on Parleys</h4>
                <p>The 180 Devoxx'12 presentations are now freely available on Parleys.com</p>
                <p>It takes 7 full days to watch them all :)</p>
                <p><a href="http://www.parleys.com/channel/5148921d0364bc17fc56adf0/presentations?sort=views&state=public">Start Today</a></p>
            </li>
            <li>
                <a href="https://regbe.devoxx.com"><img src="../images/news/almostthere.jpg" alt=""></a>
                <div class="date">30 Sep. '13</div>
                <h4>Almost Sold Out!</h4>
                <p>We've passed 85% capacity for this years Devoxx edition.
                So register ASAP if you want to enjoy this years Devoxx experience.</p>
                <p>You've been warned!  :p</p>
                <p><a href="https://regbe.devoxx.com">Register Here</a></p>
            </li>
            <li>
                <a href="http://www.devoxx.com/display/4KIDS/Home"><img src="../images/news/duke.jpg" alt=""></a>
                <div class="date">22 Sep. '13</div>
                <h4>Duke's Choice Award</h4>
                <p>The Devoxx 4 Kids initiative has received the Duke's Choice Award at JavaOne 2013 in San Francisco.</p>
                <p>Congrats to everyone involved!</p>
                <p><a href="http://www.devoxx.com/display/4KIDS/Home">Start your own D4K</a></p>
            </li>
            <li>
                <a href="/dv13-schedule.html"><img src="../images/news/search.jpg" alt=""></a>
                <div class="date">17 Sep. '13</div>
                <h4>Search Schedule</h4>
                <p>We've recently added content search to our brand new website (see header search icon).</p>
                <p>Next month we'll also release a grid view schedule with MySchedule features allowing you to prepare your Devoxx visit.</p>
            </li>
            <li>
                <a href="/dv13-schedule.html"><img src="../images/news/schedule.jpg" alt=""></a>
                <div class="date">3 Sep. '13</div>
                <h4>Devoxx Schedule</h4>
                <p>A big chunk of the Devoxx schedule is now available online.</p>
                <p>We're still reviewing some extra speakers and topics, expect more talks in the coming weeks!
                    <a href="/dv13-schedule.html">View schedule</a></p>
            </li>
            <li>
                <a href="/dv13-speakers.html"><img src="../images/news/keynote.jpg" alt=""></a>
                <div class="date">21 Aug. '13</div>
                <h4>Keynote Speakers</h4>
                <p><a href="/dv13-brian-goetz.html">Brian Goetz</a>, <a href="/dv13-mark-reinhold.html">Mark Reinhold</a> and <a href="/dv13-lars-bak.html">Lars Bak</a> will keynote at this years Devoxx.</p>
                <p>During the welcome keynote by <a href="/dv13-stephan-janssen.html?presId=3151">Stephan Janssen</a> we anticipate several guest appearances.</p>
            </li>
            <li>
                <a href="/dv13-speakers.html"><img src="../images/news/devoxxians.jpg" alt=""></a>
                <div class="date">21 Aug. '13</div>
                <h4>First Devoxxians</h4>
                <p>We've published a first batch of <a href="/dv13-speakers.html">Devoxxians</a>.</p>
                <p>Expect many more speakers in the next weeks followed soon after with the complete schedule.</p>
            </li>
            <li>
                <a href="https://regbe.devoxx.com"><img src="../images/news/register_today.jpg" alt=""></a>
                <div class="date">23 July '13</div>
                <h4>Registration Open</h4>
                <p>Online registration is <a href="https://regbe.devoxx.com/public#DV13">now open</a>.</p>
                <p>Devoxx has been sold out 5 years in a row and we assume this year will not be any different.  So don't wait too long to get your Devoxx tickets, you've been warned!</p>
            </li>
            <li>
                <img src="../images/news/experience.jpg" alt="">
                <div class="date">8 July '13</div>
                <h4>Call For Papers Closed</h4>
                <p>Thanks to the many Devoxxians that submitted talks! The program committee will review, rate and schedule the talks in the coming weeks.
                Expect a first batch beginning of August followed by another batch early September.</p>
            </li>
            <li>
                <a href="http://www.devoxx.com/display/4KIDSNL/Home"><img src="../images/news/d4kids_nl.jpg" alt=""></a>
                    <div class="date">8 June '13</div>
                    <h4>Devoxx4Kids NL</h4>
                    <p>The first <a href="http://www.devoxx.com/display/4KIDSNL/Home">Dutch Devoxx4Kids</a> event, organized
                        by <a href="http://www.jpoint.nl/">JPoint</a> and the <a href="http://www.uva.nl/en/home">University of Amsterdam</a>
                        was a great success. The kids enjoyed Arduino, Scratch and LEGO MindStorms sessions.
                        <br><a href="http://www.devoxx.com/display/4KIDSNL/Home">Read more...</a></p>
            </li>
            <li>
                <a href="#about"><img src="../images/news/site.jpg" alt=""></a>
                    <div class="date">6 June '13</div>
                    <h4>New site</h4>
                    <p>Hope you like our brand new website?<br>It's built using AngularJS and the call for papers is available on
                        <a href="http://github.com/devoxx">github.com/devoxx</a>, we accept pull requests!
                        <br><a href="#about">Read more...</a></p>

            </li>
            <li>
                <img src="../images/news/call4papers.jpg" alt="Call For Papers" />
                    <div class="date">6 June '13</div>
                    <h4>Call For Papers Now Open</h4>
                    <p>The CFP for Devoxx Belgium 2013 is now open and closes July 5th.
                    </br>Please login and submit your talks and help us shape another awesome conference.</p>

            </li>
            <li>
                <!--<a href="#">-->
                    <img src="../images/news/registration.jpg" alt="Devoxx Registrations" />
                    <div class="date">6 June '13</div>
                    <h4>Registrations Open Soon</h4>
                    <p>As always we under-estimated the work on our new website including the new Call For Papers module.
                       We expect to open Devoxx registrations by the end of June.</p>
                <!--</a>-->
            </li>
            <li>
                <!--<a href="#">-->
                    <img src="../images/news/borntobe.jpg" alt="Born To Be" />
                <div class="date">6 June '13</div>
                    <h4>New Devoxx Theme</h4>
                    <p>The majority of the Devoxxians are "Born to be..." a developer and many tell us they actually feel reborn after attending Devoxx.  :)</p>
                <!--</a>-->
            </li>

            <li>
                <a href="http://www.devoxx.com/display/UK13/Home">
                <img src="../images/news/DevoxxUK-2013.jpg" alt="The Devoxx UK team" />
                <div class="date">29 March '13</div>
                <h4>First Devoxx UK</h4>
                <p>The inaugural Devoxx UK, about 500 developers experienced the Devoxx atmosphere in London. More than enough to call it a success, but more info about this later.
                </p>
                </a>
            </li>
            <li>
                <a href="http://www.devoxx.com/display/FR13/Accueil">
                <img src="../images/news/DevoxxFR-2013.jpg" alt="The Devoxx FR team" />
                <div class="date">28 March '13</div>
                <h4>Devoxx FR on rails</h4>
                <p>The second Devoxx France edition was a blast, close to 1500 'Frenchy' developers landed in Paris for a week of Devoxx geekery. The demand for Devoxx FR tickets is so high that we'll need to find a bigger venue next year.
                </p>
                </a>
            </li>            
            <li>
                <a href="#/team">
                <img src="../images/news/team.jpg" alt="The Devoxx BE team" />
                <div class="date">23 Feb '13</div>
                <h4>The Devoxx Team</h4>
                <p>The international Devoxx team has already been working hard behind the scenes.
                   Our batteries are again fully charged to organise another great Devoxx experience for you!
                </p>
                </a>
            </li>            
        </ul>
    </div>
</div>
        
<div id="tracks" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col20">
                <h2><a name="tracks"></a>Tracks <span>2013</span></h2>
                <ul class="dotList" id="trackList">
                    <li>
                        <a href="/dv13-speakers.html#track-22">
                        <div class="icon">
                            <img src="../images/tracks/icon_web.png" alt="Web and HTML5" />
                        </div>
                        <h4>Web &amp; HTML5</h4>
                        <div class="popup">
                            <p>Web frameworks, HTML5, CSS3, the next JavaScript ES6, libraries and tools that help you build the next generation of web apps</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-7">
                        <div class="icon">
                            <img src="../images/tracks/icon_cloud.png" alt="Cloud and Big Data" />
                        </div>
                        <h4>Cloud &amp; Big Data</h4>
                        <div class="popup">
                            <p>Cloud computing, Platforms as a Service, Big Data and NoSQL</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-13">
                        <div class="icon">
                            <img src="../images/tracks/icon_javaee.png" alt="Java EE" />
                        </div>
                        <h4>Java EE</h4>
                        <div class="popup">
                            <p>Java Enterprise Edition, appservers, databases, MOM, batch processing and related JSRs</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-19">
                        <div class="icon">
                            <img src="../images/tracks/icon_future.png" alt="Future at Devoxx" />
                        </div>
                        <h4>Future&lt;Devoxx&gt;</h4>
                        <div class="popup">
                            <p>Developing for embedded devices, the internet of things, Arduino, raspberry pi, quadcopters, robots and related</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-10">
                        <div class="icon">
                            <img src="../images/tracks/icon_mobile.png" alt="Mobile" />
                        </div>
                        <h4>Mobile</h4>
                        <div class="popup">
                            <p>Tools frameworks and libraries for building mobile apps, both as MobileWeb or native Android and iOS app</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-5">
                        <div class="icon">
                            <img src="../images/tracks/icon_alternative.png" alt="Alternative Languages on the JVM" />
                        </div>
                        <h4>JVM Languages</h4>
                        <div class="popup">
                            <p>Anything related to other languages than Java running on the JVM, the languages, tools, libraries and best practices</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-9">
                        <div class="icon">
                            <img src="../images/tracks/icon_javase.png" alt="Java SE" />
                        </div>
                        <h4>Java SE</h4>
                        <div class="popup">
                            <p>Java Standard Edition, anything non-related to Jave EE, like the language, JDK, performance tuning, modularity, etc...</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-6">
                        <div class="icon">
                            <img src="../images/tracks/icon_methology.png" alt="Methodology" />
                        </div>
                        <h4>Methodology</h4>
                        <div class="popup">
                            <p>Software development methodologies and related subjects</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-2">
                        <div class="icon">
                            <img src="../images/tracks/icon_architecture.png" alt="Architecture and Security" />
                        </div>
                        <h4>Arch. &amp; Security</h4>
                        <div class="popup">
                            <p>Software architecture, encryption and best practices to develop secure software</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                </ul>
                <!--<br><br>-->
                <!--<h2>-->
                     <!--<a href="#/speaker/proposal/new" class="btn">Submit a talk</a>-->
                <!--</h2>-->
            </div>
        </div>
    </div>
</div>

<div id="tweetwall" class="area lightgrey" ng-controller="TwitterCtrl">
    <div class="grid">
        <div class="row">
            <div class="col10">
                <h2>What’s up? <span>#DEVOXX</span></h2>
            </div>
            <div class="col10 apps">
                <h4>Relive Devoxx 2012!</h4>
                <a href="https://play.google.com/store/apps/details?id=com.parleys.android.devoxx2012" class="btn googleStore"></a>
                <a href="https://itunes.apple.com/us/app/devoxx-2012-on-parleys.com/id589421953" class="btn appStore"></a>
            </div>
        </div>

        <div class="row">
            <div class="col20">
                <div class="carousel">
                    <ul>
                        <li tweetwall ng-repeat="tweet in tweets" class="{{tweet.class}}">
                            <div class="visual" ng-style="{backgroundImage: tweet.image}" ></div>
                            <div class="tweet" ng-click="openStatus(tweet)">
                                <p>{{tweet.tweet}}</p>
                                <div class="info">
                                    <a href="http://twitter.com/{{tweet.author}}">@{{tweet.author}}</a> , {{tweet.time}} via <span ng-bind-html-unsafe="tweet.source"></span>
                                </div>
                                <span class="ballon"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
