<div id="carousel" carousel>
    <ul>
        <li>
            <div class="grid">
                <div class="row">           
                    <div class="col9 content">
                        <h1>Born to be</h1>
                        <p>All the Devoxx talks now available on Parleys.com!</p>
                        <a href="http://us2.campaign-archive2.com/?u=d777b04a23f45f06379a1e710&id=e4f16ea20a" class="btn">More Info</a>
                    </div>
                    <div class="col11">
                        <img src="images_dummy/slide_01.png" class="visual" alt="Be born again">
                    
                    </div>
                </div>
            </div>                  
        </li>

        <li>
            <div class="grid">

                <div class="row">
                    <div class="col9 content">

                        <h1>The Official Devoxx Video</h1>
                        <p>The Devoxx 2013 atmosphere video available.</p>
                        <a href="http://parleys.com/play/52b1b87fe4b0ec3f38ec9395/chapter1/about" class="btn">Watch Now</a>
                    </div>
                    <div class="col11">
                        <img src="images_dummy/slide_02.png" class="visual" alt="Be born again">
                    </div>
                </div>

            </div>
        </li>

        <li>
            <div class="grid">

                <div class="row">
                    <div class="col9 content">

                        <h1>Happy Holidays</h1>
                        <p>Best wishes from the Devoxx team!</p>

                    </div>
                    <div class="col11">

                        <img src="images_dummy/holidays.png" class="visual" alt="Be born again">

                    </div>
                </div>

            </div>
        </li>
</div>


 <div id="about" class="area lightgrey">
    <div class="grid">
        <div class="row">
            <div class="col12">
                <div class="counter" id="counterSpeakers">
                    <div class="amount">195</div>
                    <div class="description">Speakers</div>
                </div>
                <div class="counter" id="counterTalks">
                    <div class="amount">200</div>
                    <div class="description">Presentations</div>
                </div>
                <div class="map">
                    <img src="../images/home_about_map.png" alt="map" />
                    <a href="#home" class="btn_be"><span>Belgium</span></a>
                    <a href="http://www.devoxx.fr" class="btn_fr"><span>France</span></a>
                    <a href="http://www.devoxx.com/display/UK13/Home" class="btn_uk"><span>United Kingdom</span></a>
                </div>
            </div>
            <div class="col7 push1 content">
                <h2>Belgium welcomed again 3500 Devoxxians</h2>
                <p>Next up: Devoxx France (Paris, April 16-18th)</p>
                <!--<a href="https://regbe.devoxx.com/public#DV13" class="btn">Buy tickets</a>-->
            </div>
        </div>
    </div>
</div> 

<div id="news" class="area white">
    <h2>Latest news</h2>

    <div class="carousel">
        <ul class="newsList clearfix" news>
            <li>
                <a href="http://parleys.com/channel/528b321de4b054cd7d2ef448/presentations"><img src="../images/news/devoxx2013.jpg" alt=""></a>
                <div class="date">18 Dec. '13</div>
                <h4>Devoxx Talks on Parleys.com</h4>
                <p>All the Devoxx presentations are now available on Parleys.com</p>
                <p>FREE access for the attendees and subscription or pay-per-view for others.</p>
                <p><a href="http://parleys.com/channel/528b321de4b054cd7d2ef448/presentations">Watch Now</a></p>
            </li>
            <li>
                <a href="http://parleys.com/play/52b1b87fe4b0ec3f38ec9395/chapter1/about"><img src="../images/news/video.jpg" alt=""></a>
                <div class="date">18 Dec. '13</div>
                <h4>The Official Devoxx Movie</h4>
                <p>Missing the Devoxx atmosphere? Then sit back and enjoy the official Devoxx 2013 movie made by Roy Van Rijn.</p>
                <p><a href="http://parleys.com/play/52b1b87fe4b0ec3f38ec9395/chapter1/about">Enjoy</a></p>
            </li>
            <li>
                <a href="https://plus.google.com/photos/118041907032714528693/albums/5949635896910296337"><img src="../images/news/pierreantoine.jpg" alt=""></a>
                <div class="date">24 Nov. '13</div>
                <h4>Visual Joy Ride</h4>
                <p>Pierre-Antoine Grégoire has once again enriched us with a batch of beautiful Devoxx photo's.</p>
                <p>Thanks for sharing your talent with us!</p>
                <p><a href="https://plus.google.com/photos/118041907032714528693/albums/5949635896910296337">Enjoy</a></p>
            </li>
            <li>
                <a href="http://www.flickr.com/photos/bejug/sets/72157637558956606/"><img src="../images/news/DevoxxTeam.jpg" alt=""></a>
                <div class="date">16 Nov. '13</div>
                <h4>The Devoxx Pictures</h4>
                <p>Already experiencing the post-Devoxx blues?</p>
                <p>Browsing the official Devoxx pictures might soften the pain  :)</p>
                <p><a href="http://www.flickr.com/photos/bejug/sets/72157637558956606/">View pictures</a></p>
            </li>
            <li>
                <a href="http://us2.campaign-archive1.com/?u=d777b04a23f45f06379a1e710&id=18fe9fa1d3"><img src="../images/news/lanyard.jpg" alt=""></a>
                <div class="date">8 Nov. '13</div>
                <h4>Practical Info</h4>
                <p>More practical information can be found in our last pre-Devoxx newsletter.</p>
                <p>Safe travels to all Devoxxians!</p>
                <p><a href="http://us2.campaign-archive1.com/?u=d777b04a23f45f06379a1e710&id=18fe9fa1d3">Read Newsletter</a></p>
            </li>
            <li>
                <a href="http://www.jroller.com/aalmiray/entry/hackergarten_at_devoxx_are_you"><img src="../images/news/hackergarten.jpg" alt=""></a>
                <div class="date">7 Nov. '13</div>
                <h4>Devoxx Hackergarten</h4>
                <p>On Tuesday from 9:30 onwards in the exhibitor floor another Hackergarten will take place driven by Andres Almiray and many more Open Source committers.</p>
                <p>This is your chance to meet project leads, ask questions, donate or discuss code.  Don't miss it!</p>
                <p><a href="http://www.jroller.com/aalmiray/entry/hackergarten_at_devoxx_are_you">More details</a></p>
            </li>
            <li>
                <a href="http://us2.campaign-archive1.com/?u=d777b04a23f45f06379a1e710&id=91e356de2b"><img src="../images/news/car.gif" alt=""></a>
                <div class="date">4 Nov. '13</div>
                <h4>One Week Until Devoxx</h4>
                <p>Only 7 days until 3500 Devoxxians embrace the Devoxx experience with Rock Star speakers from all over the world.</p>
                <p>Yes, the IQ level in Antwerp will increase substantially next week :o)</p>
                <p><a href="http://us2.campaign-archive1.com/?u=d777b04a23f45f06379a1e710&id=91e356de2b">Practical details</a></p>
            </li>
            <li>
                <a href="https://www.parleys.com/upload"><img src="../images/news/Upload.gif" alt=""></a>
                <div class="date">1 Nov. '13</div>
                <h4>Message to Speakers</h4>
                <p>Please upload your PDF slide deck before or after your Devoxx presentation onto Parleys.com.  This will improve our full multimedia post-processing afterwards, many thanks!</p>
                <p>Tip: Use a 'DV13' tag in the upload form.</p>
                <p><a href="https://www.parleys.com/upload">Upload now</a></p>
            </li>
            <li>
                <a href="https://www.facebook.com/photo.php?fbid=482744181833689&set=a.305330706241705.72602.269706553137454&type=1"><img src="../images/news/exhibition.gif" alt=""></a>
                <div class="date">31 Oct. '13</div>
                <h4>Devoxx Floor Plan</h4>
                <p>26 companies will welcome the 3500 Devoxxians with products, services, (IoT) hardware and books.</p>
                <p>Make sure you reserve some quality time during Devoxx to visit each booth!</p>
                <p><a href="https://www.facebook.com/photo.php?fbid=482744181833689&set=a.305330706241705.72602.269706553137454&type=1">View floorplan</a></p>
            </li>
            <li>
                <a href="http://www.flickr.com/photos/sistersinbeauty/sets/72157636994797746/"><img src="../images/news/d4knl.jpg" alt=""></a>
                <div class="date">28 Oct. '13</div>
                <h4>Devoxx4Kids NL & CH</h4>
                <p>Last weekend over 100 teenagers enjoyed Devoxx4Kids, now in Den Haag (Netherlands) and Geneva (Switzerland).</p>
                <p>Congrats to all involved!</p>
                <p><a href="http://www.flickr.com/photos/sistersinbeauty/sets/72157636994797746/">Pictures NL</a></p>
            </li>
            <li>
                <a href="http://us2.campaign-archive1.com/?u=d777b04a23f45f06379a1e710&id=783089f23b"><img src="../images/news/party.jpg" alt=""></a>
                <div class="date">17 Oct. '13</div>
                <h4>Social Devoxx Events</h4>
                <p>Devoxx is not only attending sessions, we've many different social events ranging from Hackergarten, Hack Fest to a movie and of course our Party!</p>
                <p><a href="http://us2.campaign-archive1.com/?u=d777b04a23f45f06379a1e710&id=783089f23b">More info</a></p>
            </li>
            <li>
                <a href="https://vimeo.com/76679380"><img src="../images/news/D4K.jpg" alt=""></a>
                <div class="date">15 Oct. '13</div>
                <h4>Devoxx4Kids Belgium</h4>
                <p>The last two weekends we organised another Devoxx4Kids Belgium and it was a blast! Click picture to see video.</p>
                <p>Make sure you organise your own D4K in your city/country!!</p>
                <p><a href="http://www.devoxx.com/display/4KIDS/Home">Practical info here</a></p>
            </li>
            <li>
                <img src="../images/news/raspberry.jpg" alt="">
                <div class="date">9 Oct. '13</div>
                <h4>IoT Shop @ Devoxx</h4>
                <p>Next to our book store we'll also host this year an electro shop where you can purchase Raspberry PI's, Arduino's and even Robot starter kits!</p>
                <p>Make sure to bring your IoT wish list :)</p>
            </li>
            <li>
                <a href="https://regbe.devoxx.com"><img src="../images/news/soldout.jpg" alt=""></a>
                <div class="date">3 Oct. '13</div>
                <h4>Conference Sold Out</h4>
                <p>With 3500 attendees Devoxx is completely Sold Out!</p>
            </li>
            <li>
                <a href="http://www.parleys.com/channel/5148921d0364bc17fc56adf0/presentations?sort=views&state=public"><img src="../images/news/parleys.jpg" alt=""></a>
                <div class="date">2 Oct. '13</div>
                <h4>Devoxx'12 Free on Parleys</h4>
                <p>The 180 Devoxx'12 presentations are now freely available on Parleys.com</p>
                <p>It takes 7 full days to watch them all :)</p>
                <p><a href="http://www.parleys.com/channel/5148921d0364bc17fc56adf0/presentations?sort=views&state=public">Start Today</a></p>
            </li>
            <li>
                <a href="https://regbe.devoxx.com"><img src="../images/news/almostthere.jpg" alt=""></a>
                <div class="date">30 Sep. '13</div>
                <h4>Almost Sold Out!</h4>
                <p>We've passed 85% capacity for this years Devoxx edition.
                So register ASAP if you want to enjoy this years Devoxx experience.</p>
                <p>You've been warned!  :p</p>
                <p><a href="https://regbe.devoxx.com">Register Here</a></p>
            </li>
            <li>
                <a href="http://www.devoxx.com/display/4KIDS/Home"><img src="../images/news/duke.jpg" alt=""></a>
                <div class="date">22 Sep. '13</div>
                <h4>Duke's Choice Award</h4>
                <p>The Devoxx 4 Kids initiative has received the Duke's Choice Award at JavaOne 2013 in San Francisco.</p>
                <p>Congrats to everyone involved!</p>
                <p><a href="http://www.devoxx.com/display/4KIDS/Home">Start your own D4K</a></p>
            </li>
            <li>
                <a href="/dv13-schedule.html"><img src="../images/news/search.jpg" alt=""></a>
                <div class="date">17 Sep. '13</div>
                <h4>Search Schedule</h4>
                <p>We've recently added content search to our brand new website (see header search icon).</p>
                <p>Next month we'll also release a grid view schedule with MySchedule features allowing you to prepare your Devoxx visit.</p>
            </li>
            <li>
                <a href="/dv13-schedule.html"><img src="../images/news/schedule.jpg" alt=""></a>
                <div class="date">3 Sep. '13</div>
                <h4>Devoxx Schedule</h4>
                <p>A big chunk of the Devoxx schedule is now available online.</p>
                <p>We're still reviewing some extra speakers and topics, expect more talks in the coming weeks!
                    <a href="/dv13-schedule.html">View schedule</a></p>
            </li>
            <li>
                <a href="/dv13-speakers.html"><img src="../images/news/keynote.jpg" alt=""></a>
                <div class="date">21 Aug. '13</div>
                <h4>Keynote Speakers</h4>
                <p><a href="/dv13-brian-goetz.html">Brian Goetz</a>, <a href="/dv13-mark-reinhold.html">Mark Reinhold</a> and <a href="/dv13-lars-bak.html">Lars Bak</a> will keynote at this years Devoxx.</p>
                <p>During the welcome keynote by <a href="/dv13-stephan-janssen.html?presId=3151">Stephan Janssen</a> we anticipate several guest appearances.</p>
            </li>
            <li>
                <a href="/dv13-speakers.html"><img src="../images/news/devoxxians.jpg" alt=""></a>
                <div class="date">21 Aug. '13</div>
                <h4>First Devoxxians</h4>
                <p>We've published a first batch of <a href="/dv13-speakers.html">Devoxxians</a>.</p>
                <p>Expect many more speakers in the next weeks followed soon after with the complete schedule.</p>
            </li>
            <li>
                <a href="https://regbe.devoxx.com"><img src="../images/news/register_today.jpg" alt=""></a>
                <div class="date">23 July '13</div>
                <h4>Registration Open</h4>
                <p>Online registration is <a href="https://regbe.devoxx.com/public#DV13">now open</a>.</p>
                <p>Devoxx has been sold out 5 years in a row and we assume this year will not be any different.  So don't wait too long to get your Devoxx tickets, you've been warned!</p>
            </li>
            <li>
                <img src="../images/news/experience.jpg" alt="">
                <div class="date">8 July '13</div>
                <h4>Call For Papers Closed</h4>
                <p>Thanks to the many Devoxxians that submitted talks! The program committee will review, rate and schedule the talks in the coming weeks.
                Expect a first batch beginning of August followed by another batch early September.</p>
            </li>
            <li>
                <a href="http://www.devoxx.com/display/4KIDSNL/Home"><img src="../images/news/d4kids_nl.jpg" alt=""></a>
                    <div class="date">8 June '13</div>
                    <h4>Devoxx4Kids NL</h4>
                    <p>The first <a href="http://www.devoxx.com/display/4KIDSNL/Home">Dutch Devoxx4Kids</a> event, organized
                        by <a href="http://www.jpoint.nl/">JPoint</a> and the <a href="http://www.uva.nl/en/home">University of Amsterdam</a>
                        was a great success. The kids enjoyed Arduino, Scratch and LEGO MindStorms sessions.
                        <br><a href="http://www.devoxx.com/display/4KIDSNL/Home">Read more...</a></p>
            </li>
            <li>
                <a href="#about"><img src="../images/news/site.jpg" alt=""></a>
                    <div class="date">6 June '13</div>
                    <h4>New site</h4>
                    <p>Hope you like our brand new website?<br>It's built using AngularJS and the call for papers is available on
                        <a href="http://github.com/devoxx">github.com/devoxx</a>, we accept pull requests!
                        <br><a href="#about">Read more...</a></p>

            </li>
            <li>
                <img src="../images/news/call4papers.jpg" alt="Call For Papers" />
                    <div class="date">6 June '13</div>
                    <h4>Call For Papers Now Open</h4>
                    <p>The CFP for Devoxx Belgium 2013 is now open and closes July 5th.
                    </br>Please login and submit your talks and help us shape another awesome conference.</p>

            </li>
            <li>
                <!--<a href="#">-->
                    <img src="../images/news/registration.jpg" alt="Devoxx Registrations" />
                    <div class="date">6 June '13</div>
                    <h4>Registrations Open Soon</h4>
                    <p>As always we under-estimated the work on our new website including the new Call For Papers module.
                       We expect to open Devoxx registrations by the end of June.</p>
                <!--</a>-->
            </li>
            <li>
                <!--<a href="#">-->
                    <img src="../images/news/borntobe.jpg" alt="Born To Be" />
                <div class="date">6 June '13</div>
                    <h4>New Devoxx Theme</h4>
                    <p>The majority of the Devoxxians are "Born to be..." a developer and many tell us they actually feel reborn after attending Devoxx.  :)</p>
                <!--</a>-->
            </li>

            <li>
                <a href="http://www.devoxx.com/display/UK13/Home">
                <img src="../images/news/DevoxxUK-2013.jpg" alt="The Devoxx UK team" />
                <div class="date">29 March '13</div>
                <h4>First Devoxx UK</h4>
                <p>The inaugural Devoxx UK, about 500 developers experienced the Devoxx atmosphere in London. More than enough to call it a success, but more info about this later.
                </p>
                </a>
            </li>
            <li>
                <a href="http://www.devoxx.com/display/FR13/Accueil">
                <img src="../images/news/DevoxxFR-2013.jpg" alt="The Devoxx FR team" />
                <div class="date">28 March '13</div>
                <h4>Devoxx FR on rails</h4>
                <p>The second Devoxx France edition was a blast, close to 1500 'Frenchy' developers landed in Paris for a week of Devoxx geekery. The demand for Devoxx FR tickets is so high that we'll need to find a bigger venue next year.
                </p>
                </a>
            </li>            
            <li>
                <a href="#/team">
                <img src="../images/news/team.jpg" alt="The Devoxx BE team" />
                <div class="date">23 Feb '13</div>
                <h4>The Devoxx Team</h4>
                <p>The international Devoxx team has already been working hard behind the scenes.
                   Our batteries are again fully charged to organise another great Devoxx experience for you!
                </p>
                </a>
            </li>            
        </ul>
    </div>
</div>
        
<div id="tracks" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col20">
                <h2><a name="tracks"></a>Tracks <span>2013</span></h2>
                <ul class="dotList" id="trackList">
                    <li>
                        <a href="/dv13-speakers.html#track-22">
                        <div class="icon">
                            <img src="../images/tracks/icon_web.png" alt="Web and HTML5" />
                        </div>
                        <h4>Web &amp; HTML5</h4>
                        <div class="popup">
                            <p>Web frameworks, HTML5, CSS3, the next JavaScript ES6, libraries and tools that help you build the next generation of web apps</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-7">
                        <div class="icon">
                            <img src="../images/tracks/icon_cloud.png" alt="Cloud and Big Data" />
                        </div>
                        <h4>Cloud &amp; Big Data</h4>
                        <div class="popup">
                            <p>Cloud computing, Platforms as a Service, Big Data and NoSQL</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-13">
                        <div class="icon">
                            <img src="../images/tracks/icon_javaee.png" alt="Java EE" />
                        </div>
                        <h4>Java EE</h4>
                        <div class="popup">
                            <p>Java Enterprise Edition, appservers, databases, MOM, batch processing and related JSRs</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-19">
                        <div class="icon">
                            <img src="../images/tracks/icon_future.png" alt="Future at Devoxx" />
                        </div>
                        <h4>Future&lt;Devoxx&gt;</h4>
                        <div class="popup">
                            <p>Developing for embedded devices, the internet of things, Arduino, raspberry pi, quadcopters, robots and related</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-10">
                        <div class="icon">
                            <img src="../images/tracks/icon_mobile.png" alt="Mobile" />
                        </div>
                        <h4>Mobile</h4>
                        <div class="popup">
                            <p>Tools frameworks and libraries for building mobile apps, both as MobileWeb or native Android and iOS app</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-5">
                        <div class="icon">
                            <img src="../images/tracks/icon_alternative.png" alt="Alternative Languages on the JVM" />
                        </div>
                        <h4>JVM Languages</h4>
                        <div class="popup">
                            <p>Anything related to other languages than Java running on the JVM, the languages, tools, libraries and best practices</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-9">
                        <div class="icon">
                            <img src="../images/tracks/icon_javase.png" alt="Java SE" />
                        </div>
                        <h4>Java SE</h4>
                        <div class="popup">
                            <p>Java Standard Edition, anything non-related to Jave EE, like the language, JDK, performance tuning, modularity, etc...</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-6">
                        <div class="icon">
                            <img src="../images/tracks/icon_methology.png" alt="Methodology" />
                        </div>
                        <h4>Methodology</h4>
                        <div class="popup">
                            <p>Software development methodologies and related subjects</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="/dv13-speakers.html#track-2">
                        <div class="icon">
                            <img src="../images/tracks/icon_architecture.png" alt="Architecture and Security" />
                        </div>
                        <h4>Arch. &amp; Security</h4>
                        <div class="popup">
                            <p>Software architecture, encryption and best practices to develop secure software</p>
                            <span class="textballoon"></span>
                        </div>
                        </a>
                    </li>
                </ul>
                <!--<br><br>-->
                <!--<h2>-->
                     <!--<a href="#/speaker/proposal/new" class="btn">Submit a talk</a>-->
                <!--</h2>-->
            </div>
        </div>
    </div>
</div>

<div id="tweetwall" class="area lightgrey" ng-controller="TwitterCtrl">
    <div class="grid">
        <div class="row">
            <div class="col10">
                <h2>What’s up? <span>#DEVOXX</span></h2>
            </div>
            <div class="col10 apps">
                <h4>Relive Devoxx 2012!</h4>
                <a href="https://play.google.com/store/apps/details?id=com.parleys.android.devoxx2012" class="btn googleStore"></a>
                <a href="https://itunes.apple.com/us/app/devoxx-2012-on-parleys.com/id589421953" class="btn appStore"></a>
            </div>
        </div>

        <div class="row">
            <div class="col20">
                <div class="carousel">
                    <ul>
                        <li tweetwall ng-repeat="tweet in tweets" class="{{tweet.class}}">
                            <div class="visual" ng-style="{backgroundImage: tweet.image}" ></div>
                            <div class="tweet" ng-click="openStatus(tweet)">
                                <p>{{tweet.tweet}}</p>
                                <div class="info">
                                    <a href="http://twitter.com/{{tweet.author}}">@{{tweet.author}}</a> , {{tweet.time}} via <span ng-bind-html-unsafe="tweet.source"></span>
                                </div>
                                <span class="ballon"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
