<div id="topinfo" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col16">
                <h1>Lost your password?</h1>
                <h3>Request a password reset here</h3>
            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <form ng-submit="lostPassword()" ng-hide="feedback.type == 'info'" name="lostPasswordForm">
            <div class="row">
                <div class="col12">

                    <h4>Reset your lost password here</h4>
                    <ul>
                        <li>
                            <label for="lostPasswordEmail">Email address</label>
                            <input id="lostPasswordEmail" type="email" ng-model="model.email" required devoxx-uniform>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col9 push3">
                    <ul>
                        <li class="btn">
                            <input type="submit" name="" value="Reset password">
                        </li>
                    </ul>
                </div>
            </div>
                       
        </form>

        <div class="row">
            <div class="col9 push3">
                <div class="alert alert-{{feedback.type}}" ng-show="feedback">{{feedback.message}}</div>
            </div>
        </div>

    </div>
</div>
