<div id="topinfo" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col16">
                <h1>Lost your password?</h1>
                <h3>Request a password reset here</h3>
            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <h4 ng-show="isSubmitting"
            devoxx-set-focus-on="isSubmitting"
            devoxx-set-focus-field="submittingMessage">
            <!-- an anchor is required for setting focus. Focus is used to scroll to the message -->
            <a href="" id="submittingMessage">Sending...</a>
        </h4>

        <h4 ng-show="isSubmitted">
            An email with instructions on how to reset your password has been sent to the provided email address.<br>
            <a ng-click="initLostPasswordForm()">Back to form</a>
        </h4>

        <form ng-submit="lostPassword()" ng-hide="isSubmitting || isSubmitted" name="lostPasswordForm">
            <div class="row">
                <div class="col12">
                    <h4>{{error}}</h4>
                    <h4>Reset your lost password here</h4>
                    <ul>
                        <li>
                            <label for="lostPasswordEmail">Email address</label>
                            <input id="lostPasswordEmail" type="email" ng-model="model.email" required devoxx-uniform>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col6 push6">
                    <ul>
                        <li class="btn">
                            <input type="submit" name="" value="Reset">
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
