<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col16">

                <h1>Profile</h1>
                <h3>Your Devoxxian profile</h3>

            </div>
        </div>

    </div>
</div>

<div ng-controller="ProfileCtrl" class="area lightgrey">
    <div>
        <p ng-hide="profileComplete()">Your profile is not yet complete. To continue, please fill in the missing values in the form below</p>
        <form>
            <div class="grid">
                <ng-include src="'views/speaker/speaker_details.html'"></ng-include>

                <div class="row">

                    <div class="col6 push9">

                        <ul>
                            <li class="btn">
                                <input type="submit" ng-click="updateProfile()" value="Update">
                            </li>
                        </ul>

                    </div>

                </div>    
               
            </div>
        </form>
    </div>
</div>

