<div id="topinfo" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col16">
                <h1>New to Devoxx?</h1>
                <h3>Register yourself here</h3>
            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <form ng-hide="feedback.type == 'info'" name="registerForm" ng-submit="register()">
            <div class="row">
                <div class="col12">                
                    <h4>Enter your details, all fields are mandatory</h4>
                    <ul>
                        <li>
                            <label for="registerFirstname">First name</label>
                            <input id="registerFirstname" type="text" ng-model="model.newUser.firstname" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerLastname">Last name</label>
                            <input id="registerLastname" type="text" ng-model="model.newUser.lastname" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerEmail">Email address</label>
                            <input id="registerEmail" type="email" ng-model="model.newUser.email" required devoxx-uniform>
                        </li>
                        <li>
                            <label for="registerEmail">Email address again</label>
                            <input id="registerEmail" type="email" ng-model="model.newUser.email2" required devoxx-uniform>
                        </li>
                        <li>
                            <label></label>
                            <div class="alert alert-danger" ng-hide='registerForm.$pristine || emailsMatch()'>Email addresses must match!</div>
                        </li>

                        <li>
                            <label for="registerUsername">Username</label>
                            <input id="registerUsername" type="text" ng-model="model.newUser.username" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerPassword">Password</label>
                            <input id="registerPassword" type="password" ng-model="model.newUser.password" required devoxx-uniform>
                        </li>
                        <li>
                            <label for="registerPassword">Password again</label>
                            <input id="registerPassword" type="password" ng-model="model.newUser.password2" required devoxx-uniform>
                        </li>                        
                        <li>
                            <label></label>
                            <div class="alert alert-danger" ng-hide='registerForm.$pristine || passwordsMatch()'>Passwords must match!</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col9 push3">
                    <div class="alert alert-{{feedback.type}}" ng-show="feedback">{{feedback.message}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col6 push6">
                    <ul>
                        <li class="btn">
                            <input type="submit" name="" value="Register" ng-disabled="!hasNoTypo()">
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
</div>
