<div id="topinfo" class="area orange">
    <div class="grid">
        <div class="row">
            <div class="col16">
                <h1>New to Devoxx?</h1>
                <h3>Register yourself here</h3>
                <p>Want to be part of the great Java community? Then you can register yourself here.</p>
            </div>
        </div>
    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">

        <h4 ng-show="isSubmitting"
            devoxx-set-focus-on="isSubmitting"
            devoxx-set-focus-field="submittingMessage">
            <!-- an anchor is required for setting focus. Focus is used to scroll to the message -->
            <a href="" id="submittingMessage">Registering...</a>
        </h4>

        <h4 ng-show="isSubmitted">
            Registered a new user for Devoxx. A verification email has been sent. Please verify using this email.<br>
            <a ng-click="initRegisterForm()">Add another user</a>
        </h4>

        <form ng-submit="register()" ng-hide="isSubmitting || isSubmitted" name="registerForm">
            <div class="row">
                <div class="col12">
                    <h4>{{error}}</h4>
                    <h4>Register new user</h4>
                    <ul>
                        <li>
                            <label for="registerFirstname">First name</label>
                            <input id="registerFirstname" type="text" ng-model="model.newUser.firstname" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerLastname">Last name</label>
                            <input id="registerLastname" type="text" ng-model="model.newUser.lastname" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerEmail">Email address</label>
                            <input id="registerEmail" type="email" ng-model="model.newUser.email" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerUsername">Username</label>
                            <input id="registerUsername" type="text" ng-model="model.newUser.username" required devoxx-uniform>
                        </li>

                        <li>
                            <label for="registerPassword">Password</label>
                            <input id="registerPassword" type="password" ng-model="model.newUser.password" required devoxx-uniform>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col6 push6">
                    <ul>
                        <li class="btn">
                            <input type="submit" name="" value="Register">
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
