<div id="topinfo" class="area orange">
    <div class="grid">

        <div class="row">
            <div class="col16">

                <h1>Thank You</h1>
                <h3>Your registration was successful!</h3>
            </div>
        </div>

    </div>
</div>

<div id="paper_form" class="area lightgrey">
    <div class="grid">
        <div class="row">
            <p>We're looking forward to welcome you to Devoxx Belgium. We'll mail each attendee his/her eTicket a few weeks before the event.</p>

            <p>Make sure you follow us on <a href="https://twitter.com/devoxx">Twitter</a> and/or register to our <a href="http://eepurl.com/d35a9">newsletter</a> for Devoxx updates.</p>

            <P>Important Note: Your registration is only valid when your invoice has been paid!</P>

            <p>Click <a href="/">here</a> to return to the home page.</p>
        </div>
    </div>
</div>